<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons>
        <ion-back-button
          text=""
          defaultHref="/tabnav/wallets/add-consignator"
        ></ion-back-button>
        <ion-title>{{"address_wallet.chooes_address" | translate}}</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <p>{{"address_wallet.fetching_contacts_data" | translate}}</p>
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div *ngIf="!isLoading">
    <ion-list
      class="list"
      lines="none"
      *ngIf="(availableAddress && availableAddress.length > 0); else notAvailableAddress"
      class="list-wrapper"
    >
      <ion-virtual-scroll [items]="availableAddress" approxItemHeight="70px">
        <ion-item-sliding *virtualItem="let address" #contactSlidingItem>
          <ion-item (click)="navToDetail(address.firstName) ">
            <ion-avatar slot="start">
              <img src="assets/img/contact.png" />
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              <ion-text>
                <h3 class="name">
                  {{ address.firstName + ' ' + address.lastName}}
                  <ion-note class="description"
                    >{{ address.description }}</ion-note
                  >
                </h3>
              </ion-text>

              <ion-text>
                <p class="address">{{ address.address }}</p>
              </ion-text>
            </ion-label>
          </ion-item>
          <!-- <ion-item-options side="end">
            <ion-item-option (click)="onDeleteContact(address.id, contactSlidingItem)">
              <ion-icon slot="icon-only" name="trash" size="small"></ion-icon>
            </ion-item-option>
          </ion-item-options> -->
        </ion-item-sliding>
      </ion-virtual-scroll>
    </ion-list>
    <ng-template #notAvailableAddress>
      <ion-text class="ion-text-center">
        <p>{{"address_wallet.no_available_contact_data" | translate}}</p>
      </ion-text>
    </ng-template>
  </div>
</ion-content>
