<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{'wallets.select_node' | translate}}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Node select section -->
  <ion-list class="ion-margin">
    <ion-list-header>
      <ion-label>{{"wallets.node_selection" | translate}}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>{{'wallets.node' | translate}}</ion-label>
      <ion-select
        (ionChange)="onChangeNode($event)"
        [(ngModel)]="selectedNode"
        placeholder="Select One"
      >
        <ion-select-option *ngFor="let node of nodes" [value]="node"
          >{{ node.domain }}:{{ node.port }}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-list>

  <!-- add custom node section: -->
  <ion-list class="ion-margin">
    <ion-list-header>
      <ion-label>{{'wallets.add_custom_node' | translate}}</ion-label>
      <ion-button
        (click)="addCustomNode()"
        [disabled]="!isValidHostPort()"
        fill="clear"
      >
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item>
      <ion-label>Host</ion-label>
      <ion-input [(ngModel)]="customHost" name="customHost"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{"wallets.port" | translate}}</ion-label>
      <ion-input
        [(ngModel)]="customPort"
        type="number"
        min="1"
        max="65999"
        name="customPort"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-button
    expand="block"
    class="btn-gradient-bg ion-margin"
    (click)="confirmNode()"
    >
    {{'wallets.confirm' | translate}}
  </ion-button
  >
</ion-content>
