<!-- <ion-card class="chart-div"> -->
<!-- <div *ngIf="transactionsData"> -->
<div class="chart-div">
  <canvas #chartRef id="chart"></canvas>
</div>

<!-- </ion-card> -->

<div class="operator-div">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="btn-group">
          <ion-button
            fill="outline"
            [class]="
              periodOption.Day.isSelected
                ? 'ion-button-selected first-btn'
                : 'first-btn'
            "
            (click)="dayFilter()"
            >{{ periodOption.Day.value }}</ion-button
          >
          <ion-button
            fill="outline"
            [class]="periodOption.Week.isSelected ? 'ion-button-selected' : ''"
            (click)="weekFilter()"
            >{{ periodOption.Week.value }}</ion-button
          >
          <ion-button
            fill="outline"
            [class]="periodOption.Month.isSelected ? 'ion-button-selected' : ''"
            (click)="monthFilter()"
            >{{ periodOption.Month.value }}</ion-button
          >
          <ion-button
            fill="outline"
            [class]="periodOption.Year.isSelected ? 'ion-button-selected' : ''"
            (click)="yearFilter()"
            >{{ periodOption.Year.value }}</ion-button
          >
          <ion-button
            fill="outline"
            [class]="periodOption.All.isSelected ? 'ion-button-selected' : ''"
            (click)="allData()"
            >{{ periodOption.All.value }}</ion-button
          >
          <ion-button
            fill="outline"
            [class]="
              periodOption.Custom.isSelected
                ? 'ion-button-selected last-btn'
                : 'last-btn'
            "
            (click)="customFilter()"
            >{{ periodOption.Custom.value }}</ion-button
          >
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="btn-group2">
          <ion-datetime
            class="from-date"
            (ionChange)="getStartDateSel($event)"
            displayFormat=" DD MMM YYYY"
            placeholder="{{'transaction.select_start_date' | translate}}"
          ></ion-datetime>
          <ion-datetime
            class="to-date"
            (ionChange)="getEndDateSel($event)"
            displayFormat=" DD MMM YYYY"
            placeholder="{{'transaction.select_end_date' | translate}}"
          ></ion-datetime>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<!-- </div> -->
