.chart-div {
  padding: 50px 0 20px 0;
  margin: 0 0 20px 0;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0 0 20px 20px;
  background: #f7f7f7;
}

.btn-group {
  display: flex;
  ion-button {
    color: #707070;
    font-size: 13px;
    margin: 0;
    flex: 1;

    --border-radius: none;
    --border-width: 1px 0 1px 1px;
    --border-color: #e6e7e8;
    --background: #f7f7f7;
    --background-activated: #f7f7f7;

    // actived styles:
    //    -------> doesn't work & ion-fouced class seems to be missing when click button
    // .ion-focused,
    // .ion-activated {
    //   --color-activated: #0f4b73;
    //   --color-focused: #0f4b73;
    //   --background-activated: #ffffff;
    //   --background-focused: #ffffff;
    // }
  }

  // ion-button:active,
  // ion-button:focus {
  //   --color-activated: #0f4b73;
  //   --color-focused: #0f4b73;
  //   --background-activated: #ffffff;
  //   --background-focused: #ffffff;
  // }

  .first-btn {
    --border-radius: 30px 0 0 30px;
  }
  .last-btn {
    --border-radius: 0 30px 30px 0;
    --border-width: 1px;
  }

  .ion-button-selected {
    color: #000000;

    --border-width: 1px 1px 1px 1px;
    --border-color: #707070;
    --background: #ffffff;
  }
}

.from-date {
  text-align: center;
  border-radius: 30px 0 0 30px;
  color: #707070;
}

.to-date {
  text-align: center;
  border-radius: 0 30px 30px 0;
  color: #707070;
}

.btn-group2 {
  display: flex;

  ion-datetime {
    background: #f7f7f7;
    border: 1px solid #e6e7e8;
    padding: 10px;
    flex: 1;

    --placeholder-color: #707070;
    font-size: 13px;
  }
}

.operator-div {
}

// --- whole chart  backgroud color
canvas#btcChart {
  background-color: #f7f7f7;
}
