<ion-header mode="ios">
  <ion-toolbar mode="ios" class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons>
        <ion-back-button
          mode="ios"
          defaultHref="/tabnav/setting/support"
          text=""
        ></ion-back-button>
      </ion-buttons>
      <ion-title>{{"settings_support_contact_us.contact_us" | translate}}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="!selectedFeedback" lines="full" class="selected-ion-item">
    <div class="wrap">
      <ion-text>{{"settings_support_contact_us.your_feedback_or_enquiry" | translate}}</ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-label
          class="{{selectedFeedback ? 'ion-label-selected' : 'ion-label'}}"
          >{{ selectedFeedback || ('settings_support_contact_us.please_select' | translate)}}</ion-label
        >
        <ion-icon name="chevron-down-outline" class="fa-arrow-down" slot="end">
        </ion-icon>
        <ion-select
          (ionChange)="handleSelect($event)"
          class="ion-no-padding ion-no-margin"
          mode="ios"
          [value]="selectedFeedback"
          interface="action-sheet"
        >
          <ion-select-option value="Compliment">{{"settings_support_contact_us.compliment" | translate}}</ion-select-option>
          <ion-select-option value="Privacy">{{'settings_support_contact_us.privacy' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </ion-item>

  <div *ngIf="selectedFeedback" class="wrap">
    <ion-item lines="none" class="ion-margin-top">
      <ion-label class="send-title"> {{'settings_support_contact_us.send_enquiry' | translate}} </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label (click)="handleEmailOnClick()" class="send-email">
        {{contact}}
      </ion-label>
    </ion-item>
  </div>
</ion-content>
