<ion-content scrollY="false">
  <!-- tabs navigation  -->

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="wallets">
        <ion-label>Wallets</ion-label>
        <ion-icon name="wallet-outline"> </ion-icon>
        <div class="line"></div>
      </ion-tab-button>

      <ion-tab-button tab="swap">
        <ion-label>Swap</ion-label>
        <ion-icon name="swap-horizontal"></ion-icon>
        <div class="line"></div>
      </ion-tab-button>

      <ion-tab-button tab="export">
        <ion-label>Export</ion-label>
        <ion-icon name="open-outline"></ion-icon>
        <div class="line"></div>
      </ion-tab-button>

      <ion-tab-button tab="address-book">
        <ion-label>Address</ion-label>
        <ion-icon name="person-add-outline"></ion-icon>
        <div class="line"></div>
      </ion-tab-button>

      <ion-tab-button tab="setting">
        <ion-label>Setting</ion-label>
        <ion-icon name="settings-outline"></ion-icon>
        <div class="line"></div>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
