<ion-header>
  <ion-toolbar>
    <app-background-header></app-background-header>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabnav/setting" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Invoice Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isShow">

  </div>
  <div *ngIf="isShow">
    <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">

      <ion-item lines="none">
        <ion-input type="text" required formControlName="business_name" [(ngModel)]="listShow.business_name"
          (ionChange)='onChangeInput($event)' placeholder="Business Name">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input type="number" required formControlName="business_number" [(ngModel)]="listShow.business_number"
          (ionChange)='onChangeInput($event)' placeholder="Business Number">
        </ion-input>
      </ion-item>

      <ion-item lines="none">

        <ion-input type="text" required formControlName="company_address" [(ngModel)]="listShow.company_address"
          (ionChange)='onChangeInput($event)' placeholder="Company Address">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input type="number" required formControlName="phone_number" [(ngModel)]="listShow.phone_number"
          (ionChange)='onChangeInput($event)' placeholder="Phone Number">
        </ion-input>

      </ion-item>

      <p style="margin: 0 15px">Tax</p>
      <ion-item lines="none">

        <ion-input type="number" required formControlName="tax" [(ngModel)]="listShow.tax"
          (ionChange)='onChangeInput($event)' placeholder="GST/Tax %">
        </ion-input>
      </ion-item>
      <div *ngIf="!isInclusive" class="class-check">
        <ion-checkbox color="primary" checked="true" class="check-ion" (click)="onCheckBox(isInclusive)"></ion-checkbox>
        <ion-label class="label-check">Inclusive</ion-label>
        <div class="space">

        </div>
        <ion-checkbox checked="false" class="check-ion" (click)="onCheckBox(isInclusive)"></ion-checkbox>
        <ion-label>Exclusive</ion-label>
      </div>
      <div *ngIf="isInclusive" class="class-check">
        <ion-checkbox checked="false" class="check-ion" (click)="onCheckBox(isInclusive)"></ion-checkbox>
        <ion-label class="label-check">Inclusive</ion-label>
        <div class="space">

        </div>
        <ion-checkbox checked="true" class="check-ion" (click)="onCheckBox(isInclusive)"></ion-checkbox>
        <ion-label>Exclusive</ion-label>
      </div>

      <div style="text-align: center">
        <ion-button type="submit" [disabled]="!invoiceForm.valid" class="saveBtn">Save</ion-button>
      </div>
    </form>
  </div>


  <!-- <ion-radio-group value="inclusive">
    <ion-item>
      <ion-label>Inclusive</ion-label>
      <ion-radio slot="start" color="success" value="inclusive"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Exclusive</ion-label>
      <ion-radio slot="start" color="tertiary" value="exclusive"></ion-radio>
    </ion-item>

  </ion-radio-group> -->


</ion-content>