<ion-header>
  <ion-toolbar style="padding: 50px 0 0">
    <ion-buttons>
      <ion-back-button defaultHref="/tabnav/setting" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Invoice Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
    <ion-input placeholder="Business Name"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input placeholder="Business Number"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input placeholder="Company Address"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input placeholder="Phone Number"></ion-input>
  </ion-item>

  <p style="margin: 0 15px;">Tax</p>
  <ion-item lines="none">
    <ion-input placeholder="GST/Tax"></ion-input>
  </ion-item>

  <!-- <ion-radio-group value="inclusive">
    <ion-item>
      <ion-label>Inclusive</ion-label>
      <ion-radio slot="start" color="success" value="inclusive"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Exclusive</ion-label>
      <ion-radio slot="start" color="tertiary" value="exclusive"></ion-radio>
    </ion-item>

  </ion-radio-group> -->

  <div style="text-align: center">
    <ion-button class="saveBtn">Save</ion-button>
  </div>

</ion-content>
