ion-content {
  --background: #f9fafc;
}

ion-item {
  box-shadow: 0 3px 6px #00000029;
  border-radius: 8px;
  padding: 3px 0;
  margin: 20px 15px;
}

.saveBtn {
  margin-bottom: 10px;
  width: 90%;
  --background: linear-gradient(to bottom, #41a1c8, #074673);
}

.class-check {
  margin-left: 15px;
  margin-bottom: 50px;
  display: flex;
  height: 30px;
  align-items: center;
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
  .check-ion {
    margin-right: 15px;
  }
  .label-check {
    margin-right: 15px;
  }
  .space {
    width: 40px;
    display: inline-block;
  }
}
