ion-card {
  box-shadow: 0px 3px 6px #00000029;
  --background: #f7f7f7;
  border-radius: 0px 0px 30px 30px;
  margin: 0 0 10px 0;

  ion-card-header {
    border-bottom: 0.5px solid #cccbcd;

    .img-name-div {
      display: flex;
      align-items: center;
      justify-content: center;

      ion-img {
        width: 25px;
        margin-right: 10px;
      }

      ion-card-title {
        font-size: 16px;
      }
    }

    .address {
      color: #757575;
      font-size: 9px;
    }
  }

  ion-card-content {
    padding: 20px;
    h5 {
      font-size: 16px;
      color: #000000;
      font-weight: bold;
    }

    .qr-div {
      // width: 50%;
      padding: 20px 60px;
    }
  }
}

// ------------- form:
ion-list-header {
  ion-label {
    font-size: 16px;
  }
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.amount {
  color: #707070;
  font-size: 14px;
}

.margin-bottom {
  margin-bottom: 5px;
}

.input-box {
  border-radius: 8px;
  --padding-start: 10px;
  box-shadow: 0px 3px 6px #00000029;
}

ion-select {
  width: 30%;
}

// -------footer
ion-footer {
  background: #ffffff;
  div {
    margin: 0 12px;
  }
  ion-button {
    --background: linear-gradient(to bottom right, #41a1c8, #074673);
  }
}
