<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tabnav/wallets" text=""> </ion-back-button>
    </ion-buttons>
    <ion-title>Receive</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card class="ion-text-center">
    <ion-card-header>
      <div class="img-name-div">
        <ion-img
          [src]="receiveWallet.walletType === 'BTC' ? 'assets/img/bitcoin.png' : receiveWallet.walletType === 'NEM' ?
            'assets/img/nem-icon.png' : 'assets/img/ethereum.png'"
        >
        </ion-img>
        <ion-card-title>{{ receiveWallet.walletName }}</ion-card-title>
      </div>

      <p class="address">{{receiveWallet.walletAddress}}</p>
    </ion-card-header>

    <ion-card-content>
      <h5>Scan QR code</h5>
      <div class="qr-div"><img [src]="qrCode.src" /></div>
    </ion-card-content>
  </ion-card>

  <form>
    <ion-list>
      <ion-list-header lines="none">
        <ion-label>Amount</ion-label>
        <!--  show the balance of the wallet? or leave it 00.00 sync with the user input??? -->
        <ion-button class="amount">{{receiveWallet.walletBalance[1]}} {{receiveWallet.walletType}}</ion-button>
      </ion-list-header>
      <ion-item lines="none">
        <ion-input class="input-box" clearInput placeholder="$ 00.00 AUD" name="amount"></ion-input>
        <!-- <div>{{enteredValue | currency: '% '}}</div> -->
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header lines="none">
        <ion-label>Tax</ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <!-- ??? here is selector or number input???? -->
        <!-- <ion-label position="fixed">Tax</ion-label> -->
        <ion-input class="input-box" placeholder="%"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header lines="none">
        <ion-label>Receiver</ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <ion-input class="input-box" placeholder="Reveiver (Business) Name"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header lines="none">
        <ion-label>Invoice description</ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <ion-input class="input-box" placeholder="e.g. Rent & bills"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list lines="none">
      <ion-list-header lines="none">
        <ion-label>Issuer</ion-label>
        <ion-button>Edit</ion-button>
      </ion-list-header>
      <ion-item lines="none">
        <ion-label>
          <h2>{{user.businessName}}</h2>
          <p class="ion-text-wrap">{{user.address}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer translucent="true" class="ion-no-border">
  <div>
    <ion-button expand="block">Share</ion-button>
  </div>
</ion-footer>
