<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons>
        <ion-back-button
          text=""
          defaultHref="/tabnav/wallets/add-wallet-new"
        ></ion-back-button>
        <ion-title>{{'add_wallet.add_new_wallet' | translate}}</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="title-custom">{{'add_new_wallet.custom_name' | translate}}</div>
    <div class="input-custom">
      <ion-input
        [value]="isCustomName"
        (input)="onCustomName($event)"
        type="text"
      ></ion-input>
    </div>

    <div class="main-container">
      <div *ngIf="!showSelect">
        <div class="btn-large_1" (click)="selectCoin()">
          <div *ngIf="!showCoin">
            <div class="inline_1">{{'add_new_wallet.currency_type' | translate}}</div>
            <div class="inline_2">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </div>
          </div>
          <div *ngIf="showCoin">
            <div class="inline_1">{{coin.name}}</div>
            <div class="inline_2">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showSelect">
        <div class="btn-large_1" (click)="selectCoin()">
          <div class="inline_1">{{'add_new_wallet.currency_type' | translate}}</div>
          <div class="inline_2">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
        </div>
        <div class="select-coin" *ngFor="let supportedCoin of supportedCoins">
          <div
            class="child-select-coin"
            (click)="chooseWalletType(supportedCoin)"
          >
            {{supportedCoin.name}}
          </div>
        </div>
      </div>

      <div *ngIf="!showSelect">
        <div *ngIf="coin?.id != 'BTC'">
          <div class="title-custom">{{"add_new_wallet.private_key" | translate}}</div>
          <div class="input-custom">
            <ion-input
              [value]="privateKey"
              (input)="onPrivateKey($event)"
              type="text"
            ></ion-input>
          </div>
          <div *ngIf="error">
            <div class="error">{{messageError}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-btn">
      <div *ngIf="!isShowBtn" class="btn-large_disable">
        <div class="text-middle">{{"add_new_wallet.continue" | translate}}</div>
      </div>
      <div *ngIf="isShowBtn" class="btn-large_2">
        <div class="text-middle" (click)="continue()">{{"add_new_wallet.continue" | translate}}</div>
      </div>
    </div>
  </div>
</ion-content>
