ion-card {
  height: 160px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrap-item {
    display: flex;
    flex-direction: column;

    ion-avatar {
      align-self: center;
      height: 32px;
      width: 32px;
      color: #41a1c8;
    }

    ion-label {
      align-self: center;
      color: #000000;
      font-size: 18px;
    }
  }
}
