<ion-header>
  <ion-toolbar>
    <app-background-header></app-background-header>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabnav/wallets"></ion-back-button>
    </ion-buttons>
    <ion-title>Export</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #F7F7F7">
  <div>
    <ion-card (click)="onHistory()">
      <div class="wrap-item">
        <ion-avatar>
          <img src="assets/icon/icon-history.png" />
        </ion-avatar>
        <ion-label>History</ion-label>
      </div>
    </ion-card>

    <ion-card (click)="onCreate()">
      <div class="wrap-item">
        <ion-avatar>
          <img src="assets/icon/icon-create.png" />
        </ion-avatar>
        <ion-label>Create</ion-label>
      </div>
    </ion-card>
  </div>

</ion-content>