<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons>
        <ion-back-button
          text=""
          defaultHref="/tabnav/wallets"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>{{'export_invoice.export' | translate}}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #f7f7f7;">
  <div>
    <ion-card (click)="onHistory()">
      <div class="wrap-item">
        <ion-avatar>
          <img src="assets/icon/icon-history.png" />
        </ion-avatar>
        <ion-label>{{'export_invoice.history' | translate}}</ion-label>
      </div>
    </ion-card>

    <ion-card (click)="onCreate()">
      <div class="wrap-item">
        <ion-avatar>
          <img src="assets/icon/icon-create.png" />
        </ion-avatar>
        <ion-label>{{'export_invoice.create' | translate}}</ion-label>
      </div>
    </ion-card>
  </div>
</ion-content>
