<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabnav/wallets/add-wallet-new"></ion-back-button>
    </ion-buttons>
    <ion-img src="assets/img/nem-icon.png"></ion-img>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>MY WALLET 2</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
    <div class="title-custom">Wallet Name</div>
    <div  class="input-custom">
      <!-- <ion-input class="input-custom-wallet"></ion-input> -->
      <ion-item>
        <ion-input type="text" ></ion-input>
        <span item-left style="padding-right: 5px;"></span>
    
      </ion-item>
    </div>
  </div>
  <div>
    <div class="title-custom">Private key</div>
    <div class="input-custom">
      <ion-item>
        <ion-input type="password" ></ion-input>
        <span item-right style="padding-right: 5px;"><ion-icon name="copy-outline"></ion-icon></span>
        <span item-right><ion-icon name="eye-outline"></ion-icon></span>
      </ion-item>
    </div>
  </div>
  <div>
    <div class="title-custom">Mnemonic</div>
      <div class="input-custom">
        <ion-item>
          <ion-input type="password" ></ion-input>
          <span item-right style="padding-right: 5px;"><ion-icon name="copy-outline"></ion-icon></span>
          <span item-right><ion-icon name="eye-outline"></ion-icon></span>
        </ion-item>
      </div>
    </div>
  <div class="tilte-container">

    <div class="title-Paper">Paper white</div>
    <div class="title-Download">Download</div>
  </div>
  <div class="btn-large_1" >
    <div class="text-middle"  >Save</div>

  </div>
  <div class="btn-large_2" >
    <div class="text-middle"  >Cancel</div>

  </div>
  <div class="btn-large_2" >
    <div class="text-middle"  >Delete the wallet</div>

  </div>
</ion-content>
