<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"> <ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title> Select Node</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Node select section -->
  <ion-list class="ion-margin">
    <ion-list-header>
      <ion-label> Node Selection </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Node</ion-label>
      <ion-select (ionChange)="onChangeNode($event)" [(ngModel)]="selectedNode" placeholder="Select One">
        <ion-select-option *ngFor="let node of nodes" [value]="node">{{node.domain}}:{{node.port}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <!-- add custom node section: -->
  <ion-list class="ion-margin">
    <ion-list-header>
      <ion-label> Add Custom Node </ion-label>
      <ion-button (click)="addCustomNode()" [disabled]="!isValidHostPort()" fill="clear">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item>
      <ion-label>Host</ion-label>
      <ion-input [(ngModel)]="customHost" name="customHost"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Port</ion-label>
      <ion-input [(ngModel)]="customPort" type="number" min="1" max="65999" name="customPort"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="btn-gradient-bg ion-margin" (click)="confirmNode()">Confirm</ion-button>
</ion-content>
