<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login" text=""></ion-back-button>
      </ion-buttons>
      <ion-title>{{'auth_signup_import_account.import_account' | translate}}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button
    mode="ios"
    class="ion-margin"
    expand="block"
    routerLink="by-mnemonic"
    >
    {{'auth_signup_import_account.import_by_mnemonic' | translate}}
  </ion-button>
  <ion-button
    mode="ios"
    class="ion-margin"
    expand="block"
    routerLink="by-private-key"
    >
    {{'auth_signup_import_account.import_by_private_key' | translate}}
  </ion-button>

  <!-- the type of import -->
</ion-content>
