ion-header {
  ion-toolbar {
    --background: none;
    color: #000000;
    --border-style: none;
    ion-icon {
      color: #707070;
    }
  }
}

.info-div {
  margin: 50px 30px 0 30px;
  border: 3px solid #f7f7f7;
  border-radius: 5px;

  .qr-div {
    padding: 50px;
  }
}

.wallet-img {
  display: flex;
  justify-content: center;
  margin-top: -23px;

  ion-img {
    width: 50px;
    height: 50px;
  }
}

.description {
  padding: 10px;
  color: #707070;
  font-size: 14px;
}
