<ion-header class="ion-no-border">
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar class="tool-bar-children">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login" text=""></ion-back-button>
      </ion-buttons>
      <ion-title>Create Account</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="mnemonic-card">
    <ion-card-content class="ion-padding">
      <!-- <ion-note *ngFor="let word of mnemonic">{{word}}</ion-note> -->
      <p>{{mnemonic}}</p>
    </ion-card-content>
    <!-- <ion-button expand="full">Re-generate Mnemonic</ion-button> -->
    <div button class="btn-div" (click)="onGenerateMnemonic()">
      <ion-text> Re-generate Mnemonic </ion-text>
    </div>
  </ion-card>

  <ion-card class="mnemonic-warning">
    <ion-card-header>
      <ion-chip color="warning">
        <ion-icon name="warning-outline" color="warning"></ion-icon>
        <ion-label class="warning-title">Warning</ion-label>
      </ion-chip>
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-text> -->
      This mnemonic is the only way you can access your AEM+ account. Be sure to
      <ion-text color="danger">keep</ion-text> it well before continuing! We are
      not responsible for any loss that cloud be due to the entropy of key
      generation
      <!-- </ion-text> -->
    </ion-card-content>
  </ion-card>

  <ion-button
    mode="ios"
    expand="block"
    class="continue-btn"
    (click)="onContinue()"
  >
    <!-- <ion-button expand="block" class="continue-btn" routerLink="/tabnav/wallets" (click)="onEnterPin()"> -->
    Continue
  </ion-button>
</ion-content>
