<ion-header class="ion-no-border">
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login" text=""></ion-back-button>
      </ion-buttons>
      <ion-title>{{'auth_signup.create_account' | translate}}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="mnemonic-card">
    <ion-card-content class="ion-padding">
      <!-- <ion-note *ngFor="let word of mnemonic">{{word}}</ion-note> -->
      <p>{{mnemonic}}</p>
    </ion-card-content>
    <!-- <ion-button expand="full">Re-generate Mnemonic</ion-button> -->
    <div button class="btn-div" (click)="onGenerateMnemonic()">
      <ion-text>{{'auth_signup.re_generate_mnemonic' | translate}}</ion-text>
    </div>
  </ion-card>

  <ion-card class="mnemonic-warning">
    <ion-card-header>
      <ion-chip color="warning">
        <ion-icon name="warning-outline" color="warning"></ion-icon>
        <ion-label class="warning-title">{{'auth_signup.warning' | translate}}</ion-label>
      </ion-chip>
    </ion-card-header>
    <ion-card-content>
      {{'auth_signup.warning_message_1' | translate}}
      <ion-text color="danger">{{'auth_signup.warning_message_2' | translate}}</ion-text>.
      {{'auth_signup.warning_message_3' | translate}}
    </ion-card-content>
  </ion-card>

  <ion-button
    mode="ios"
    expand="block"
    class="continue-btn"
    (click)="onContinue()"
  >
    {{'auth_signup.continue' | translate}}
  </ion-button>
</ion-content>
