<ion-content>
  <div class="ion-text-center ion-margin">
    <p>You need to make a purchase to unlock export function</p>
    <ion-icon name="alert-circle" size="large"></ion-icon>
  </div>

  <ion-card>
    <ion-item lines="none">
      <ion-label>{{ price }} AUD</ion-label>
      <ion-button fill="clear" slot="end" color="danger" (click)="onPurchasing('unlock')"> BUY </ion-button>
    </ion-item>
  </ion-card>

  <section class="ion-margin">
    <ul>
      <li class="ion-padding">Export transaction multiple wallets</li>
      <li class="ion-padding">Transactions can be saved as csv, pdf formats</li>
      <li class="ion-padding">Transactons can be sharded via email or other available tools</li>
    </ul>
    <p>TODO: Some description about the process:</p>
    <p>such as: multiple currencies can be chose, fee needed to pay</p>
    <p>Make this clear to users</p>
  </section>
</ion-content>
