ion-card {
  box-shadow: 5px 3px 45px 0px rgba(128, 130, 131, 0.16);
  margin-bottom: 20px;
  margin-top: 10px;
}

ion-content {
  --background: linear-gradient(rgba(65, 161, 200), rgb(7, 70, 115));
  align-self: center;
}
