ion-content {
  --background: #f9fafc;

  .selected-ion-item {
    --background-color: #ffffff;
    --border-color: #ccd9e3;

    .wrap {
      padding-top: 30px;
      width: 100%;
    }

    ion-text {
      color: #9f9f9f;
      font-size: 15px;
    }

    ion-item {
      width: 100%;

      .ion-label {
        color: #9f9f9f;
        font-weight: bold;
      }

      .ion-label-selected {
        color: #000000;
        font-weight: bold;
      }

      ion-icon {
        color: #0000005c;
        font-size: 15px;
      }

      .fa-arrow-down {
        transform: rotate(0deg);
        transition: transform 0.1s linear;
      }

      .fa-arrow-open {
        transform: rotate(180deg);
        transition: transform 0.1s linear;
      }
    }
  }

  ion-searchbar {
    color: #0000005c;
    --background: '#EFEFF4';
  }

  ion-list {
    ion-item {
      --border-color: #ccd9e3;

      ion-label {
        color: #9f9f9f;
      }
    }
  }

  .expand-wrapper {
    overflow: hidden;
    height: auto;
  }

  .collapsed {
    max-height: 0 !important;
  }
}
