<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar class="tool-bar-children">
      <ion-buttons>
        <ion-back-button text="" defaultHref="/tabnav/wallets"></ion-back-button>
        <ion-title>Add New Wallet</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="btn-large_1" routerLink="/tabnav/wallets/add-wallet-new/add-wallet-multisig">
    <div class="inline_1">Mutisig</div>
    <div class="inline_2">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div class="btn-large_2" routerLink="/tabnav/wallets/add-wallet-new/add-wallet-private">
    <div class="inline_1">Private</div>
    <div class="inline_2">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>

</ion-content>
