<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> Search Filter </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="filter-actions-div">
    <div class="period-filter">
      <p>Search by period</p>
      <div class="btn-group">
        <ion-button fill="outline" class="first-btn" (click)="fixedFilterSelected('day')">Day</ion-button>
        <ion-button fill="outline" (click)="fixedFilterSelected('week')">Week</ion-button>
        <ion-button fill="outline" (click)="fixedFilterSelected('month')">Month</ion-button>
        <ion-button fill="outline" class="last-btn" (click)="fixedFilterSelected('year')">Year</ion-button>
        <!-- <ion-button fill="outline" class="last-btn">Custom</ion-button> -->
      </div>

      <div class="date-range-filter">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-datetime
                class="first-datetime"
                displayFormat="MM DD YY"
                placeholder="Select start date"
                (ionChange)="onStartDateSel($event)"
                #fromDateRef
              ></ion-datetime>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-datetime
                class="second-datetime"
                displayFormat="MM DD YY"
                placeholder="Select end date"
                (ionChange)="onEndDateSel($event)"
                #endDateRef
              ></ion-datetime>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="amount-filter">
      <p>Search by amount</p>

      <ion-gid>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-input
              class="first-input"
              type="number"
              placeholder="minimum "
              (ionChange)="onInputMin($event)"
              #fromAmountRef
            ></ion-input>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-input
              class="second-input"
              type="number"
              placeholder="maximum"
              (ionChange)="onInputMax($event)"
              #toAmountRef
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-gid>
    </div>
  </div>

  <ion-button class="ion-margin" expand="block" (click)="onSearch()">Search</ion-button>
</ion-content>
