ion-header {
  ion-toolbar {
    padding: 0;
    --background: none;
    font-size: 14px;
    color: #707070;
  }
  border-bottom: 1px solid #e6e7e8;
  ion-icon {
    color: #707070;
  }
}

p {
  color: #707070;
  font-size: 14px;
}

.btn-group {
  margin: 0 20px;
  ion-button {
    color: #707070;
    font-size: 13px;
    margin: 0;

    --border-radius: none;
    --border-width: 1px 0 1px 1px;
    --border-color: #e6e7e8;
    --background: #f7f7f7;
  }

  .first-btn {
    --border-radius: 15px 0 0 15px;
  }
  .last-btn {
    --border-radius: 0 15px 15px 0;
    --border-width: 1px;
  }
}

.period-filter {
  margin: 10px;
}

.date-range-filter {
  margin: 20px;
  ion-datetime {
    border: 1px solid #e6e7e8;
    padding: 8px;
    --placeholder-color: #707070;
    font-size: 13px;
  }

  .first-datetime {
    border-radius: 15px 0 0 15px;
  }

  .second-datetime {
    border-radius: 0 15px 15px 0;
  }
}

.amount-filter {
  margin: 0 30px 30px 30px;
  ion-input {
    border: 1px solid #e6e7e8;
    border-radius: 15px;
    --padding-top: 8px;
    --padding-bottom: 8px;
    font-size: 13px;
  }

  .first-input {
    border-radius: 15px 0 0 15px;
  }

  .second-input {
    border-radius: 0 15px 15px 0;
  }
}

// Radio button:
.radioBtn-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // ion-text {
  //   --color: #707070;
  //   font-size: 14px;
  // }

  ion-label {
    --color: #707070;
    font-size: 14px;
  }
}
