ion-header {
  ion-toolbar {
    padding: 0;
    --background: none;
    font-size: 14px;
    color: #707070;

    ion-title {
      font-weight: normal;
      font-size: 15px;
    }

    ion-button {
      --background: transparent;

      ion-icon {
        color: #707070;
        font-size: 20px;
      }
    }
  }
  border-bottom: 1px solid #e6e7e8;
}

p {
  color: #707070;
  font-size: 15px;
}

.btn-group {
  margin: 0 20px;
  display: flex;
  ion-button {
    color: #707070;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    flex: 1;

    --border-radius: none;
    --border-width: 1px 0 1px 1px;
    --border-color: #e6e7e8;
    --background: #f7f7f7;
    --background-activated: #f7f7f7;
  }

  .ion-button-selected {
    color: #000000;

    --border-width: 1px 1px 1px 1px;
    --border-color: #707070;
    --background: #FFFFFF;
  }

  .first-btn {
    --border-radius: 30px 0 0 30px;
  }
  .last-btn {
    --border-radius: 0 30px 30px 0;
    --border-width: 1px;
  }
}

ion-segment-button {
  color: #707070;
  --background: #F7F7F7;
  --background-checked: #FFFFFF;
  --background-focused: #FFFFFF;
  --indicator-color: transparent;
  --padding-start: 1px;

  ion-label {
    text-transform: none;
    font-size: 13px;
  }
}

.period-filter {
  margin: 10px;

}

.date-range-filter {
  margin: 20px;
  ion-datetime {
    border: 1px solid #e6e7e8;
    padding: 8px;
    --placeholder-color: #707070;
    font-size: 13px;
    color: #707070;
  }

  .first-datetime {
    border-radius: 15px 0 0 15px;
  }

  .second-datetime {
    border-radius: 0 15px 15px 0;
  }
}

.amount-filter {
  margin: 0 30px 30px 30px;
  ion-input {
    border: 1px solid #e6e7e8;
    border-radius: 15px;
    --padding-top: 8px;
    --padding-bottom: 8px;
    font-size: 13px;
    color: #9F9F9F;
  }

  .first-input {
    border-radius: 15px 0 0 15px;
  }

  .second-input {
    border-radius: 0 15px 15px 0;
  }
}

// Radio button:
.radioBtn-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // ion-text {
  //   --color: #707070;
  //   font-size: 14px;
  // }

  ion-label {
    --color: #707070;
    font-size: 14px;
  }
}

ion-button {
  --background: linear-gradient(to bottom, rgba(65, 161, 200), rgb(7, 70, 115));
}
