<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close-sharp" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> Search Filter </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="filter-actions-div">
    <div class="period-filter">
      <p>Search period</p>
      <div class="btn-group">
        <ion-grid>
          <ion-row>
            <ion-button fill="outline" [class]="periodOptions.day.isSelected ? 'ion-button-selected first-btn' : 'first-btn'" (click)="fixedFilterSelected('day')">Day</ion-button>
            <ion-button fill="outline" [class]="periodOptions.week.isSelected ? 'ion-button-selected' : ''" (click)="fixedFilterSelected('week')">Week</ion-button>
            <ion-button fill="outline" [class]="periodOptions.month.isSelected ? 'ion-button-selected' : ''" (click)="fixedFilterSelected('month')">Month</ion-button>
            <ion-button fill="outline" [class]="periodOptions.year.isSelected ? 'ion-button-selected last-btn' : 'last-btn'" class="last-btn" (click)="fixedFilterSelected('year')">Year</ion-button>
          </ion-row>
        </ion-grid>
        <!-- <ion-button fill="outline" class="last-btn">Custom</ion-button> -->
      </div>

      <div class="date-range-filter">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-datetime
                class="first-datetime"
                display-format="DD MMM YYYY"
                placeholder="Select start date"
                (ionChange)="getStartDateSel($event)"
                #fromDateRef
              ></ion-datetime>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-datetime
                class="second-datetime"
                display-format="DD MMM YYYY"
                placeholder="Select end date"
                (ionChange)="getEndDateSel($event)"
                #endDateRef
              ></ion-datetime>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="amount-filter">
      <p>Search by amount</p>

      <!-- Radio button -->
      <ion-list>
        <ion-radio-group value="AUD" class="radioBtn-div" (ionChange)="amountTypeChange($event)">
          <ion-item lines="none">
            <ion-label>AUD </ion-label>
            <ion-radio mode="md" slot="start" value="AUD"></ion-radio>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Cryptocurrency </ion-label>
            <ion-radio mode="md" slot="start" value="Crypto"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-gid>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-input
              class="first-input"
              type="number"
              placeholder="minimum "
              (ionChange)="getInputMin($event)"
              #fromAmountRef
            ></ion-input>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-input
              class="second-input"
              type="number"
              placeholder="maximum"
              (ionChange)="getInputMax($event)"
              #toAmountRef
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-gid>
    </div>
  </div>

  <ion-button class="ion-margin" expand="block" (click)="onSearch()">Search</ion-button>
</ion-content>
