<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar class="tool-bar-children">
      <ion-buttons>
        <ion-back-button
          text=""
          defaultHref="/tabnav/export-invoice"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>Confirm Export</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #f7f7f7">
  <div class="contianer">
    <div class="date-from">
      <p class="title">From</p>
      <p class="date-time">{{dateFrom}}</p>
    </div>
    <div class="date-from">
      <p class="title">To</p>
      <p class="date-time">{{dateTo}}</p>
    </div>
    <div class="date-from">
      <p class="title">Wallet Type</p>

      <div class="date-time">
        <img class="image-wallet" [src]="walletIcon[walletType]" />
        <p class="text-wallet-type">{{walletType}}</p>
      </div>
    </div>
    <div>
      <hr
        style="
          height: 2px;
          border-width: 0;
          color: gray;
          background-color: #caced5;
        "
      />
    </div>

    <div class="date-from">
      <p class="title">Wallet</p>
      <p class="wallet-text">{{wallet}}</p>
    </div>
  </div>
  <div class="cost">This operation has a cost of 2.22{{currency}}</div>
  <div (click)="onContinue()">
    <ion-button class="btn-gradient-bg" type="submit" expand="block">
      Confirm and Continue
    </ion-button>
  </div>
</ion-content>
