<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons>
        <ion-back-button
          text=""
          defaultHref="/tabnav/export-invoice"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>{{'confirm_export.confirm_export' | translate}}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #f7f7f7;">
  <div class="contianer">
    <div class="date-from">
      <p class="title">{{'confirm_export_modal.from' | translate}}</p>
      <p class="date-time">{{dateFrom}}</p>
    </div>
    <div class="date-from">
      <p class="title">{{'confirm_export_modal.to' | translate}}</p>
      <p class="date-time">{{dateTo}}</p>
    </div>
    <div class="date-from">
      <p class="title">{{'add_address_modal.wallet_type' | translate}}</p>

      <div class="date-time">
        <img class="image-wallet" [src]="walletIcon[walletType]" />
        <p class="text-wallet-type">{{walletType}}</p>
      </div>
    </div>
    <div>
      <hr
        style="
          height: 2px;
          border-width: 0;
          color: gray;
          background-color: #caced5;
        "
      />
    </div>

    <div class="date-from">
      <p class="title">{{'confirm_export.wallet' | translate}}</p>
      <p class="wallet-text">{{wallet}}</p>
    </div>
  </div>
  <div class="cost">{{'common.operation_cost' | translate}} {{currency}}</div>
  <div (click)="onContinue()">
    <ion-button class="btn-gradient-bg" type="submit" expand="block">
      {{'confirm_export.confirm_and_continue' | translate}}
    </ion-button>
  </div>
</ion-content>
