ion-card {
  box-shadow: 0px 3px 6px #00000029;
  --background: #f7f7f7;
  border-radius: 0px 0px 30px 30px;
  margin: 0 0 30px 0;

  ion-card-header {
    border-bottom: 0.5px solid #cccbcd;

    .img-name-div {
      display: flex;
      align-items: center;
      justify-content: center;

      ion-img {
        width: 25px;
        margin-right: 10px;
      }

      ion-card-title {
        font-size: 16px;
      }
    }

    .address {
      color: #757575;
      font-size: 9px;
    }
  }

  ion-card-content {
    padding: 20px;
    h5 {
      font-size: 16px;
      color: #000000;
      font-weight: bold;
    }

    .qr-div {
      padding: 10px 60px;
    }
  }
}

// ------------- form:
form {
  padding: 0 20px;
}

ion-row,
ion-col {
  padding: 0;
  margin: 0;
}

.tax-row {
  margin-top: 16px;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.amount {
  color: #707070;
  font-size: 14px;
}

.user-info {
  color: #707070;
  font-size: 14px;

  .business-name {
    color: #000000;
  }

  p {
    margin: 0;
  }
}

.input-shadow {
  box-shadow: 0 3px 6px #00000029;
  border-radius: 8px;
  margin: 5px 0;
}

.share-btn {
  margin: 10px 0;
}

ion-select.in-item {
  max-width: 100%;
}
