<!-- <div>
  <div class="balance-div">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Token1</ion-card-subtitle>
        <ion-card-title>&#x24; 10 <ion-note> AUD </ion-note></ion-card-title>
      </ion-card-header>

      <ion-label class="balance-amount"> 0.04532423 <ion-note> BTC </ion-note></ion-label>
    </ion-card>

    <ion-item lines="none">
      <ion-label (click)="showAddress()">HKASDFJHSDKJFH743JHNFLKJDSHFLKK</ion-label>
    </ion-item>
  </div>

  <div></div>
</div> -->
<!-- 
  address: 26-35:  ???
       35:  HKASDFJHSDKJFH743JHFKJDHNFLKJDSHFLKK
-->

<!--  ============ redesign ============= -->
<div class="blance-div ion-text-center">
  <ion-grid>
    <!--  the token selection: -->
    <ion-row>
      <ion-col>
        <h2 class="blance-aud">
          <ion-text style="font-size: 20px">&#x24; </ion-text> 230.00 <ion-text> AUD </ion-text>
        </h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text class="blance-crypto">5.0348 XEM</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label>
            <p class="address">NAJA6H-KCOU7X-ZBJ22Y4RO-V5PF63-U5IK</p>
          </ion-label>
          <ion-button slot="end">
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</div>
