<div class="balance-div">
  <ion-card>
    <ion-card-header>
      <!-- wallet/token name -->
      <ion-card-subtitle>Token1</ion-card-subtitle>
      <ion-card-title>&#x24; 10 <ion-note> AUD </ion-note></ion-card-title>
    </ion-card-header>

    <!-- <ion-card-content> -->
    <ion-label class="balance-amount"> 0.04532423 <ion-note> BTC </ion-note></ion-label>
    <!-- </ion-card-content> -->
  </ion-card>

  <ion-item lines="none">
    <ion-label (click)="showAddress()">HKASDFJHSDKJFH743JHNFLKJDSHFLKK</ion-label>
  </ion-item>
</div>

<!-- 
  address: 26-35:  
  
       35:  HKASDFJHSDKJFH743JHFKJDHNFLKJDSHFLKK
-->
