<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/import-account"
          text=""
        ></ion-back-button>
      </ion-buttons>
      <ion-title>Import By Private Key </ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="handleImportSubmit()" [formGroup]="credentials">
    <ion-list>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-img [src]="walletIcon['BTC']"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Bitcoin Private Key</h2>
        </ion-label>
      </ion-item>

      <ion-item class="ion-input" lines="none">
        <ion-input
          type="text"
          name="bitcoin-private-key"
          formControlName="bitcoinPrivateKey"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-img [src]="walletIcon['XEM']"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>NEM Private Key</h2>
        </ion-label>
      </ion-item>
      <ion-item class="ion-input" lines="none">
        <ion-input
          type="text"
          name="nem-private-key"
          formControlName="nemPrivateKey"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-img [src]="walletIcon['XYM']"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Symbol Private Key</h2>
        </ion-label>
      </ion-item>
      <ion-item class="ion-input" lines="none">
        <ion-input
          type="text"
          name="symbol-private-key"
          formControlName="symbolPrivateKey"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button
      mode="ios"
      class="ion-margin"
      expand="block"
      [disabled]="isValidPrivateKey()"
      type="submit"
      >Import
    </ion-button>
  </form>
</ion-content>
