ion-list {
  margin-top: 20px;
}

ion-item {
  margin-right: 3px;
  margin-bottom: 10px;
}

ion-avatar {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  //   margin: 15px 10px 2px 2px;
}

.ion-input {
  --border-radius: 8px;
  --background: #eaebec;
  margin: 15px;
}

h2 {
  color: #074673;
  font-size: 20px;
  font-weight: bold;
}
