<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tabnav/wallets" text=""></ion-back-button>
    </ion-buttons>

    <div class="wallet-img">
      <ion-avatar>
        <ion-img
          [src]="walletIcon[selectedWallet.walletType]"
        >
        </ion-img>
      </ion-avatar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wallet-name-div ion-text-center ion-padding">
    <ion-text class="wallet-name ion-margin"> {{selectedWallet.walletName}} </ion-text>
  </div>

  <ion-list>
    <ion-list-header lines="none">
      <ion-label>Wallet Name</ion-label>
    </ion-list-header>
    <!--  ========= non-editing mode -->
    <ion-item *ngIf="!isEditing ; else editMode">
      <ion-label *ngIf="!isEditing">
        <ion-text>{{newWalletName}}</ion-text>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="onEdit()" class="edit-btn">
        <ion-icon class="ion-text-end" name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <!--    ======== editing mode -->
    <ng-template #editMode>
      <form (ngSubmit)="onSave()" [formGroup]="editForm">
        <ion-item>
          <ion-input *ngIf="isEditing" type="text" name="walletName" autofocus formControlName="name"
            [placeholder]="newWalletName">
          </ion-input>
          <ion-button fill="clear" slot="end" type="submit">
            <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" slot="end" (click)="cancelEidt()">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </form>
    </ng-template>

    <ion-list-header lines="none">
      <ion-label> Private key</ion-label>
    </ion-list-header>
    <ion-item>
      <!--  ====> PK: show  -->
      <ion-label color="primary">
        <ion-text *ngIf="showPrivateKey; else hidePk">{{selectedWallet.privateKey}}</ion-text>
        <ng-template #hidePk>
          <ion-text>**************</ion-text>
        </ng-template>
      </ion-label>

      <!-- two icon button : preform different action -->
      <ion-button fill="clear" (click)="onCopyPk()">
        <ion-icon name="copy-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="onShowPk()">
        <ion-icon [name]="showPrivateKey ? 'eye':'eye-off' " slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-list-header lines="none">
      <ion-label> Mnemonic</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label color="primary" *ngIf="showMnemonic; else hideMnemonic">
        <ion-text *ngFor="let word of selectedWallet.mnemonic">{{word}} </ion-text>
      </ion-label>

      <ng-template #hideMnemonic>
        <ion-label color="primary">
          <ion-text>**************</ion-text>
        </ion-label>
      </ng-template>

      <!-- two icon button : preform different action -->
      <ion-button fill="clear" (click)="onCopyMnemonic()">
        <ion-icon name="copy-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="onShowMnemonic()">
        <ion-icon [name]="showMnemonic ? 'eye':'eye-off'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-list-header lines="none">
      <ion-label>Paper wallet notes(optional)</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input (ionChange)="onMakeNote($event)" placeholder="Make a note of this wallet"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <div>
    <ion-button class="btn-gradient-bg" expand="block" (click)="downloadWalletPdf()" [disabled]="">Download Wallet Paper
    </ion-button>
    <ion-button class="btn-gradient-bg" expand="block" (click)="onDelete()">Delete The Wallet</ion-button>
  </div>
</ion-footer>
