<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar class="tool-bar-children">
      <div class="wallet-header">
        <ion-buttons class="wallet-header--backbutton">
          <ion-back-button
            color="light"
            defaultHref="/tabnav/wallets"
            text=""
          ></ion-back-button>
        </ion-buttons>
        <ion-avatar class="wallet-img">
          <ion-img [src]="walletIcon[selectedWallet.walletType]"> </ion-img>
        </ion-avatar>
      </div>
      <div class="wallet-name-div ion-text-center ion-padding">
        <ion-text class="wallet-name ion-margin">
          {{selectedWallet.walletName}}
        </ion-text>
      </div>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header lines="none">
      <ion-label>Wallet Name</ion-label>
    </ion-list-header>
    <!--  ========= non-editing mode -->
    <ion-item lines="none" *ngIf="!isEditing ; else editMode">
      <ion-label *ngIf="!isEditing">
        <ion-text>{{newWalletName}}</ion-text>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="onEdit()" class="edit-btn">
        <ion-icon
          class="ion-text-end"
          name="create-outline"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-item>

    <!--    ======== editing mode -->
    <ng-template #editMode>
      <form (ngSubmit)="onSave()" [formGroup]="editForm">
        <ion-item lines="none">
          <ion-input
            *ngIf="isEditing"
            type="text"
            name="walletName"
            autofocus
            formControlName="name"
            [placeholder]="newWalletName"
          >
          </ion-input>
          <ion-button fill="clear" slot="end" type="submit">
            <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" slot="end" (click)="cancelEidt()">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </form>
    </ng-template>

    <div *ngIf="privateKeyAvailable">
      <ion-list-header lines="none">
        <ion-label> Private key</ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <!--  ====> PK: show  -->
        <ion-label color="primary">
          <ion-text *ngIf="showPrivateKey; else hidePk"
            >{{selectedWallet.privateKey}}</ion-text
          >
          <ng-template #hidePk>
            <ion-text>**************</ion-text>
          </ng-template>
        </ion-label>

        <!-- two icon button : preform different action -->
        <ion-button *ngIf="showPrivateKey" fill="clear" (click)="onCopyPk()">
          <ion-icon name="copy-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="onShowPk()">
          <ion-icon
            [name]="showPrivateKey ? 'eye':'eye-off' "
            slot="icon-only"
          ></ion-icon>
        </ion-button>
      </ion-item>
    </div>

    <ion-list-header lines="none" *ngIf="selectedWallet.mnemonic">
      <ion-label> Mnemonic</ion-label>
    </ion-list-header>
    <ion-item lines="none" *ngIf="selectedWallet.mnemonic">
      <ion-label color="primary" *ngIf="showMnemonic; else hideMnemonic">
        <ion-text *ngFor="let word of selectedWallet.mnemonic"
          >{{word}}
        </ion-text>
      </ion-label>

      <ng-template #hideMnemonic>
        <ion-label color="primary">
          <ion-text>**************</ion-text>
        </ion-label>
      </ng-template>

      <!-- two icon button : preform different action -->
      <ion-button *ngIf="showMnemonic" fill="clear" (click)="onCopyMnemonic()">
        <ion-icon name="copy-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="onShowMnemonic()">
        <ion-icon
          [name]="showMnemonic ? 'eye':'eye-off'"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-list-header lines="none">
      <ion-label>Paper wallet notes(optional)</ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-input
        (ionChange)="onMakeNote($event)"
        placeholder="Make a note of this wallet"
      ></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <div>
    <ion-button
      class="btn-gradient-bg"
      expand="block"
      (click)="downloadWalletPdf()"
      [disabled]=""
      >Download Wallet Paper
    </ion-button>
    <ion-button class="btn-gradient-bg" expand="block" (click)="onDelete()"
      >Delete The Wallet</ion-button
    >
  </div>
</ion-footer>
