<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tabnav/setting" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isShow"></div>
  <div *ngIf="isShow">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <ion-item lines="none">
    <ion-input formControlName="fname" placeholder="First Name"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input formControlName="lname" placeholder="Last Name"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input formControlName="email" placeholder="Email Address"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input type="number" formControlName="phone" placeholder="Phone Number"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input formControlName="add1" placeholder="Address1"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input formControlName="add2" placeholder="Address2"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input formControlName="suburd" placeholder="Suburd"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input formControlName="state" placeholder="State"></ion-input>
    <ion-input type="number" formControlName="postcode" placeholder="Postcode"></ion-input>
  </ion-item>

  <!-- <ion-item lines="none">
    <ion-input placeholder="Postcode"></ion-input>
  </ion-item> -->

  <div style="text-align: center">
    <ion-button (click)="onSubmit()"  [disabled]="!profileForm.valid" class="saveBtn">Save</ion-button>
  </div>
</form>
</div>
</ion-content>
