<ion-header>
  <ion-toolbar style="padding: 30px 0 0">
    <ion-buttons>
      <ion-back-button defaultHref="/tabnav/setting" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
    <ion-input placeholder="First name"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input placeholder="Last name"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input placeholder="Email Address"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input placeholder="Phone Number"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input placeholder="Address1"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input placeholder="Address2"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input placeholder="Suburd"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input placeholder="State"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input placeholder="Postcode"></ion-input>
  </ion-item>

  <div style="text-align: center">
    <ion-button class="saveBtn">Save</ion-button>
  </div>

</ion-content>
