<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons>
        <ion-back-button
          defaultHref="/tabnav/setting"
          text=""
        ></ion-back-button>
      </ion-buttons>
      <ion-title>{{"settings_my_profile.my_profile" | translate}}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isShow"></div>
  <div *ngIf="isShow">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <ion-item lines="none">
        <!-- <ion-input formControlName="fname" placeholder="First Name" value="listShowProfile.fname"></ion-input> -->
        <ion-input
          type="text"
          required
          formControlName="fname"
          [(ngModel)]="listShowProfile.fname"
          (ionChange)="onChangeInput($event)"
          placeholder="{{'settings_my_profile.first_name' | translate}}"
        >
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <!-- <ion-input formControlName="lname" placeholder="Last Name" value={{listShowProfile.lname}}></ion-input> -->
        <ion-input
          type="text"
          required
          formControlName="lname"
          [(ngModel)]="listShowProfile.lname"
          (ionChange)="onChangeInput($event)"
          placeholder="{{'settings_my_profile.last_name' | translate}}"
        >
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <!-- <ion-input formControlName="email" placeholder="Email Address" value={{listShowProfile.email}}></ion-input> -->
        <ion-input
          type="text"
          required
          formControlName="email"
          [(ngModel)]="listShowProfile.email"
          (ionChange)="onChangeInput($event)"
          placeholder="{{'settings_my_profile.email_address' | translate}}"
        >
        </ion-input>
      </ion-item>
      <div
        class="text-required"
        *ngIf="profileForm.hasError('email', 'email') && (profileForm.get('email').dirty || profileForm.get('email').touched)"
      >
        {{"settings_my_profile.error_message_1" | translate}}
      </div>
      <ion-item lines="none">
        <!-- <ion-input type="number" formControlName="phone" placeholder="Phone Number" value={{listShowProfile.phone}}></ion-input> -->
        <ion-input
          type="number"
          required
          formControlName="phone"
          [(ngModel)]="listShowProfile.phone"
          (ionChange)="onChangeInput($event)"
          placeholder="{{'settings_my_profile.phone_number' | translate}}"
        >
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <!-- <ion-input formControlName="add1" placeholder="Address1" value={{listShowProfile.add1}}></ion-input> -->
        <ion-input
          type="text"
          required
          formControlName="add1"
          [(ngModel)]="listShowProfile.add1"
          (ionChange)="onChangeInput($event)"
          placeholder="{{'add_new_wallet.address' | translate}}1"
        >
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <!-- <ion-input formControlName="add2" placeholder="Address2" value={{listShowProfile.add2}}></ion-input> -->
        <ion-input
          type="text"
          required
          formControlName="add2"
          [(ngModel)]="listShowProfile.add2"
          (ionChange)="onChangeInput($event)"
          placeholder="{{'add_new_wallet.address' | translate}}2"
        >
        </ion-input>
      </ion-item>

<!--      <ion-item lines="none">-->
<!--        &lt;!&ndash; <ion-input formControlName="suburd" placeholder="Suburd" value={{listShowProfile.suburd}}></ion-input> &ndash;&gt;-->
<!--        <ion-input-->
<!--          type="text"-->
<!--          required-->
<!--          formControlName="suburd"-->
<!--          [(ngModel)]="listShowProfile.suburd"-->
<!--          (ionChange)="onChangeInput($event)"-->
<!--          placeholder="Suburd"-->
<!--        >-->
<!--        </ion-input>-->
<!--      </ion-item>-->

      <ion-item lines="none">
        <!-- <ion-input formControlName="state" placeholder="State" value={{listShowProfile.state}}></ion-input>
    <ion-input type="number" formControlName="postcode" placeholder="Postcode" value={{listShowProfile.postcode}}></ion-input> -->

        <ion-input
          style="border-right: 1px solid #00000029; margin-right: 5px;"
          type="text"
          required
          formControlName="state"
          [(ngModel)]="listShowProfile.state"
          (ionChange)="onChangeInput($event)"
          placeholder="{{'settings_my_profile.state' | translate}}"
        >
        </ion-input>
        <ion-input
          type="number"
          required
          formControlName="postcode"
          [(ngModel)]="listShowProfile.postcode"
          (ionChange)="onChangeInput($event)"
          placeholder="{{'settings_my_profile.postcode' | translate}}"
        >
        </ion-input>
      </ion-item>

      <!-- <ion-item lines="none">
    <ion-input placeholder="Postcode"></ion-input>
  </ion-item> -->

      <div style="text-align: center;">
        <ion-button
          (click)="onSubmit()"
          [disabled]="!profileForm.valid"
          class="saveBtn"
          >{{"settings_my_profile.save" | translate}}</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>
