<ion-content class="ion-padding">
  <ion-button fill="clear" (click)="dismiss()">
    <ion-icon name="close"></ion-icon>
  </ion-button>

  <div class="radio-btns ion-text-center" (click)="setInputFocus()">
    <h3 class="title">{{ title }}</h3>
    <ion-icon
      *ngIf="pin.length < 1"
      class="icon-pin"
      name="radio-button-off"
    ></ion-icon>
    <ion-icon
      *ngIf="pin.length >= 1"
      class="icon-pin"
      name="radio-button-on"
    ></ion-icon>
    <ion-icon
      *ngIf="pin.length < 2"
      class="icon-pin"
      name="radio-button-off"
    ></ion-icon>
    <ion-icon
      *ngIf="pin.length >= 2"
      class="icon-pin"
      name="radio-button-on"
    ></ion-icon>
    <ion-icon
      *ngIf="pin.length < 3"
      class="icon-pin"
      name="radio-button-off"
    ></ion-icon>
    <ion-icon
      *ngIf="pin.length >= 3"
      class="icon-pin"
      name="radio-button-on"
    ></ion-icon>
    <ion-icon
      *ngIf="pin.length < 4"
      class="icon-pin"
      name="radio-button-off"
    ></ion-icon>
    <ion-icon
      *ngIf="pin.length >= 4"
      class="icon-pin"
      name="radio-button-on"
    ></ion-icon>
  </div>

  <ion-row>
    <ion-col>
      <div class="ion-text-center" (click)="handleForgotPinClick()">
        {{"pin_modal.forgotten_pin" | translate}}
      </div>
    </ion-col>
  </ion-row>

  <div class="input">
    <ion-input
      #pinInput
      type="number"
      inputmode="numeric"
      (ionChange)="handleIonChange($event)"
      maxlength="4"
    ></ion-input>
  </div>
</ion-content>
