// ion-content {
//     --background: linear-gradient(to right, rgba(65, 161, 200), rgb(7, 70, 115));
// }

ion-col {
    display: flex;
    justify-content: center;
  }
  
  .radio-btns {
    margin-bottom: 15px;
    margin-top: 20%;
  }
  
  .title {
    margin-bottom: 40px;
  }
  
  .icon-pin {
    //   display: inline-block;
    font-size: 1.4em;
    margin: 0 15px 0 15px;
    color: #707070;
  }
  
  .button-pin {
    font-size: 20px;
  }
  
  .ion-text-center {
    font-size: 15px;
  }
  
  .input {
    ion-input {
      --background: transparent;
      color: transparent;
      caret-color: transparent;
      text-align: center;
    }
  }
  
  ion-icon {
    color: #000000DE;
  }
  