<ion-header>
  <ion-toolbar style="padding: 30px 0 0">
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Send</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="infoCard">
    <ion-item lines="none">
      <p>From</p>
      <ion-label>
        <div class="nameLabel">
          <ion-img src="assets/img/nem-icon.png"></ion-img>
          <strong>Wallet name - Token 1</strong>
        </div>
        <p>NAJA6H-KCOU7X-ZBJAPF-GGYYYW-22Y4RO-V5PF63-U5IK</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <p>To</p>
      <ion-label>
        <div class="nameLabel">
          <ion-img src="assets/img/nem-icon.png"></ion-img>
          <strong>Einstein</strong>
        </div>
        <p>ZBJAPF-HUGY7X-GGYYYW-GGYYYW-22Y4RO-V5PF63-U5IK</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <p>Description</p>
      <ion-label>
        <p>Hi Einstein, can you teach me math</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" style="border-bottom: 0">
      <p>Amount</p>
      <ion-label>
        <strong>20 AUD</strong>
        <p>0.365000 XEM</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <strong style="padding-left: 20px">Fees</strong>

  <div class="warning" *ngIf="feeTooLow">
    <div class="icon">
      <ion-icon name="warning-outline"></ion-icon>
    </div>
    <strong>Lower fee will result in longer transaction time</strong>
  </div>

  <div class="warning" *ngIf="feeTooHigh">
    <div class="icon">
      <ion-icon name="warning-outline"></ion-icon>
    </div>
    <strong>Fee is too high</strong>
  </div>

  <ion-range [(ngModel)]="fee" min="1" max="20" pin (ionChange)="feeChange()"></ion-range>

  <ion-item lines="none">
    <ion-label>
      <p>Low</p>
      <p style="height: 17px"></p>
    </ion-label>
    <ion-label style="text-align: center">
      <p>Medium</p>
      <p style="color: #074673">Suggested</p>
    </ion-label>
    <ion-label style="text-align: end">
      <p>High</p>
      <p style="height: 17px"></p>
    </ion-label>
  </ion-item>

  <ion-card style="text-align: center">
    <strong>{{ fee }} AUD</strong>
    <p>0.365000 XEM</p>
  </ion-card>

  <div style="text-align: center">
    <ion-button expand="block" class="sendBtn" (click)="showConfirmPopup()">Send</ion-button>
  </div>
</ion-content>
