<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons>
        <ion-back-button
          defaultHref="/tabnav/setting"
          text=""
        ></ion-back-button>
      </ion-buttons>
      <ion-title>{{"settings_legal.legal" | translate}}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button>
      <ion-label>{{'settings_legal.privacy_policy' | translate}}</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>{{'settings_legal.terms_and_condition' | translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
