<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="" defaultHref="/tabnav/wallets"></ion-back-button>
    </ion-buttons>
    <ion-title>Add New Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="addWalletForm" (ngSubmit)="onAddWallet()">
    <h5 class="title">Wallet Name</h5>
    <ion-item lines="none" class="input-shadow">
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <h5 class="title">Wallet Address</h5>
    <ion-item lines="none" class="input-shadow">
      <ion-input formControlName="address"></ion-input>
    </ion-item>

    <ion-row class="ion-align-items-center tax-row">
      <ion-col class="ion-no-padding ion-no-margin">
        <ion-label class="title"> Wallet Type</ion-label>
      </ion-col>
      <ion-col class="ion-no-padding ion-no-margin">
        <ion-item lines="none" class="input-shadow ion-no-margin">
          <ion-select slot="end" interface="popover" formControlName="type">
            <ion-select-option value="BTC">Bitcoin</ion-select-option>
            <ion-select-option value="NEM">NEM</ion-select-option>
            <ion-select-option value="ETH">Ethereum</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <h5 class="title">Private Key</h5>
    <ion-item lines="none" class="input-shadow">
      <ion-input formControlName="privateKey"></ion-input>
    </ion-item>

    <ion-button class="ion-margin-top" expand="block" type="submit" [disabled]="addWalletForm.invalid">Add</ion-button>
  </form>

  <!-- <div>
    <ion-item>
      <ion-label position="floating" class="title">Wallet Name </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="title">Wallet Address </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="title">Wallet Type </ion-label>
      <ion-select interface="popover">
        <ion-select-option value="BTC">Bitcoin</ion-select-option>
        <ion-select-option value="NEM">NEM</ion-select-option>
        <ion-select-option value="ETH">Ethereum</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="title">Private Key </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button class="ion-margin-top" expand="block" type="submit" [disabled]="addWalletForm.invalid">Add</ion-button>
  </div> -->
</ion-content>
