<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="" defaultHref="/tabnav/wallets"></ion-back-button>
    </ion-buttons>
    <ion-title>Add New Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="addWalletForm">
    <ion-grid>
      <ion-row class="ion-padding-top">
        <ion-col>
          <ion-item lines="none">
            <ion-label position="stacked"> <ion-text>Wallet Name </ion-text></ion-label>
            <ion-input placeholder="Please input wallet name" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding-top">
        <ion-col>
          <ion-item lines="none">
            <ion-label position="stacked"><ion-text>Wallet Address</ion-text></ion-label>
            <ion-input placeholder="Please input wallet address" formControlName="address"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding-top">
        <ion-col>
          <ion-item lines="none">
            <ion-label><ion-text>Wallet Type</ion-text></ion-label>
            <ion-select interface="popover" formControlName="type">
              <ion-select-option value="BTC">Bitcoin</ion-select-option>
              <ion-select-option value="NEM">NEM</ion-select-option>
              <!-- <ion-select-option value="symbol">Symbol</ion-select-option> -->
              <ion-select-option value="ETH">Ethereum</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding-top">
        <ion-col>
          <ion-item lines="none">
            <ion-label position="stacked"><ion-text>Private Key</ion-text></ion-label>
            <ion-input placeholder="Please input private key" formControlName="privateKey"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-button class="ion-margin-top" expand="block" (click)="onAddWallet()">Save</ion-button>
</ion-content>
