$white-color: #ffffff;
$main-blue: #41a1c8;
$main-navy: #074673;

ion-item {
  --background: transparent;
}

h2 {
  color: $white-color;
  font-size: 40px;
  margin: 0;

  ion-text {
    font-size: 20px;
  }
}

.blance-crypto {
  color: $white-color;
  font-size: 12px;
}

.address {
  color: $white-color;
  font-size: 10px;
}

.btn {
  min-width: 90px;
  --border-radius: 5px;
  --background: rgba(10, 71, 119, 0.40);
}