<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <!-- <div class="logo-div">
  </div> -->
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col class="ion-align-self-center">
        <ion-img src="../assets/logos/logo_white.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="import-account">Import account</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="create-account">Create account</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
