ion-content {
  --background: linear-gradient(rgba(65, 161, 200), rgb(7, 70, 115));
  align-self: center;
}

.logo-div {
  text-align: center;
  img {
    width: 63pt;
    height: 90pt;
    margin-top: 90px;
    margin-bottom: 30px;
  }
}

ion-button {
  --background: rgb(7, 70, 115);
  color: #f9fafc;
  font-size: 18px;
}
