<ion-content class="ion-align-items-center">
  <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="logo-div ion-padding">
            <img src="../assets/logos/logo_white.png" />
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="ion-text-end" (click)="handleForgotPinClick()">
            Forgot Pin?
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button mode="ios" expand="block" (click)="handleLoginClick()">Log in</ion-button>
        </ion-col>
      </ion-row>

      <div class="empty-div"></div>
    </ion-grid>
  </ion-row>
</ion-content>