ion-content {
  --background: transparent linear-gradient(156deg, #41a1c8 0%, #074673 100%) 0%
    0% no-repeat padding-box;
}

.logo-div {
  text-align: center;
  img {
    width: 79px;
    height: 112px;
    margin-bottom: 30px;
  }
}

ion-button {
  --background: rgb(7, 70, 115);
  color: #f9fafc;
  font-size: 18px;
  font-weight: normal;
}

.empty-div {
  // -----  the height === img height + marign
  height: 142px;
}

.ion-text-end {
  font-size: 15px;
  color: #f9fafc;
}

.ion-text-center {
  font-size: 15px;
  color: #f9fafc;
}
