ion-content {
  --background: #f9fafc;
}
ion-header{
    height: 200px;
    background: linear-gradient(to right, rgba(65, 161, 200), rgb(7, 70, 115));
}
ion-toolbar{
  ion-list{
    background: linear-gradient(to right, rgba(65, 161, 200), rgb(7, 70, 115));
    box-shadow: 0px 0px 0px #ffffff;
  }
  ion-label{
    margin-left: 15px;
    color: #ffffff;
    font-weight: bold ;
    font-size: 1.3em
  }
  ion-avatar{
    margin-left: 20px;
    height: 76px;
    width: 76px;

  }
}

ion-list-header {

  ion-label {
    font-size: 18px;
  }
}
// ion-list{
//   background-color: red;
// }

// the 1st item of each group list
.border-radium-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

// the last item of each group list
.border-radium-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ion-list {
  // border-radius: 10px;
  // margin: 0 10px;
  // border: 1px solid #dfe7ed;
  box-shadow: 0px 3px 6px #00000029;

  .border-bottom {
    border-bottom: 1px solid #dfe7ed;
  }

  ion-item {
    ion-label {
      // font-size: 16px;
    }
  }
}
.class-ion-item{
  ion-item{
    --background: linear-gradient(to right, rgba(65, 161, 200), rgb(7, 70, 115));
  }

}
.last-item{
  box-shadow: 0px 3px 6px #00000029;
}


// .togglerItem {
//   .item-inner {
//     border-radius: 10px;
//     border-color: #dfe7ed;
//   }
// }
