<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar class="tool-bar-children">
      <h3 class="myAccount">My account</h3>
      <div class="class-ion-item">
        <div *ngIf="!iconAvatar" (click)="onSelectImage()">
          <ion-avatar slot="start">
            <img src="assets/img/face.png">
          </ion-avatar>
        </div>
        <div *ngIf="iconAvatar" (click)="onSelectImage()">
          <ion-avatar slot="start">
            <img src="{{iconAvatar}}">
          </ion-avatar>
        </div>

        <div *ngIf="fullName != ' '">
          <ion-label> {{fullName}} </ion-label>
        </div>
      </div>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isLoading">
    Loadding data
  </div>
  <div *ngIf="isLoading">
    <ion-list-header>
      <ion-label>Settings</ion-label>
    </ion-list-header>
    <ion-list lines="none">
      <ion-item class="border-bottom" routerLink="/tabnav/setting/my-profile">
        <ion-label>My profile </ion-label>
      </ion-item>

      <ion-item class="border-bottom" routerLink="/tabnav/setting/invoice-profile">
        <ion-label>Invoice profile </ion-label>
      </ion-item>

      <ion-item class="border-bottom" routerLink="/tabnav/setting/change-currency">
        <ion-label>Change currency </ion-label>
        <ion-text slot="end">{{currentCurrency}}</ion-text>
      </ion-item>

      <ion-item class="border-bottom">
        <ion-label>Change country </ion-label>
        <ionic-selectable #selectCountry [(ngModel)]="countrySelected" [items]="countryData" itemValueField="id"
          itemTextField="name" searchFailText="Nothing found :(" canSearch="true" (onChange)="onChangeCountry($event)">
          <ng-template ionicSelectableCloseButtonTemplate>
            <ion-icon name="close-outline" style="color: white"></ion-icon>
          </ng-template>
        </ionic-selectable>
      </ion-item>

      <ion-item class="border-bottom" routerLink="/tabnav/setting/notification">
        <ion-label>Notifications </ion-label>
      </ion-item>
      <ion-item routerLink="/tabnav/setting/transaction-fee">
        <ion-label>Transaction fees </ion-label>
      </ion-item>
    </ion-list>

    <div style="height: 40px;"></div>

    <ion-list lines="none">
      <ion-item class="border-bottom" routerLink="/tabnav/setting/security">
        <ion-label>Security</ion-label>
      </ion-item>
      <ion-item class="border-bottom" routerLink="/tabnav/setting/support">
        <ion-label>Support</ion-label>
      </ion-item>
      <ion-item routerLink="/login">
        <ion-label>Log out</ion-label>
      </ion-item>
    </ion-list>
    <div style="height: 40px;"></div>
  </div>
</ion-content>
