ion-content {
  --background: #f9fafc;
}

ion-list-header {
  ion-label {
    font-size: 18px;
  }
}

ion-list {
  border-radius: 10px;
  margin: 0 10px;
  border: 1px solid #dfe7ed;
  .border-bottom {
    border-bottom: 1px solid #dfe7ed;
  }

  ion-item {
    ion-label {
      font-size: 16px;
    }
  }
}

.copyright-div {
  color: #888889;
  margin: 10px;
}
