<ion-header>
  <ion-card>
    <div class="settingHeader">
      <h5 style="text-align: center">My Account</h5>
      <ion-item lines="none" style="padding: 0 30px">
        <ion-avatar slot="start" style="height: 76px; width: 76px;margin-right: 20px">
          <img src="assets/img/contact.png">
        </ion-avatar>
        <ion-label>
          <h1>Daniel Jones</h1>
        </ion-label>
      </ion-item>
    </div>
  </ion-card>
</ion-header>

<ion-content>

<ion-list>
    <ion-list-header style="font-size: 16px;">
      Settings
    </ion-list-header>

    <ion-list *ngFor="let partOne of partOne">
      <ion-item lines="none" routerLink={{partOne.link}}>
        <ion-label>
          {{partOne.label}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-list>

  <ion-list style="margin-top: 40px">
    <ion-list *ngFor="let partTwo of partTwo">
      <ion-item lines="none" routerLink={{partTwo.link}}>
        <ion-label>
          {{partTwo.label}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-list>

</ion-content>
