<ion-header>
  <ion-card>
    <div class="settingHeader">
      <h5 style="text-align: center">My Account</h5>
      <ion-item lines="none" style="padding: 0 30px">
        <ion-avatar slot="start" style="height: 76px; width: 76px;margin-right: 20px">
          <img src="assets/img/contact.png">
        </ion-avatar>
        <ion-label>
          <h1>Daniel Jones</h1>
        </ion-label>
      </ion-item>
    </div>
  </ion-card>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header style="font-size: 16px;">
      Settings
    </ion-list-header>

    <ion-item lines="none" routerLink='/tabnav/setting/my-profile'>
      <ion-label>
        My Profile
      </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink='/tabnav/setting/invoice-profile'>
      <ion-label>
        Invoice Profile
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        Change Currency
      </ion-label>
      <ion-select [(ngModel)] = "currencySelected">
        <ion-select-option *ngFor="let currencyData of currencyData" value={{currencyData.value}}>{{currencyData.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        Change Country
      </ion-label>
      <ion-select [(ngModel)] = "countrySelected">
        <ion-select-option *ngFor = "let countryData of countryData" value={{countryData.id}}>{{countryData.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        Notifications
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        Transaction Fees
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list style="margin-top: 40px">
    <ion-list *ngFor="let settingPartTwo of settingPartTwo">
      <ion-item lines="none" routerLink={{settingPartTwo.link}}>
        <ion-label>
          {{settingPartTwo.label}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-list>

</ion-content>