ion-content {
  --background: #f9fafc;
}

ion-list-header {
  ion-label {
    font-size: 18px;
  }
}

// the 1st item of each group list
.border-radium-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

// the last item of each group list
.border-radium-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ion-list {
  border-radius: 10px;
  margin: 0 10px;
  border: 1px solid #dfe7ed;
  .border-bottom {
    border-bottom: 1px solid #dfe7ed;
  }

  ion-item {
    ion-label {
      font-size: 16px;
    }
  }
}

// .togglerItem {
//   .item-inner {
//     border-radius: 10px;
//     border-color: #dfe7ed;
//   }
// }
