<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tabnav/wallets"></ion-back-button>
    </ion-buttons>
    <ion-title>Choose a Token</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let btcTokenList of btcTokenList" routerLink="/send">
    <ion-label>
      <h2><strong>{{btcTokenList.tokenName}}</strong></h2>
    </ion-label>
    <ion-label>
      <p><b>{{btcTokenList.btc}}</b> BTC</p>
      <p><b>{{btcTokenList.aud}}</b> AUD</p>
    </ion-label>
  </ion-item>

</ion-content>
