<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tabnav/wallets"></ion-back-button>
    </ion-buttons>
    <ion-title>Choose an Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none" routerLink="/send">
      <ion-avatar slot="start">
        <img src="assets/img/bitcoin.png">
      </ion-avatar>
      <ion-label>
        <h2><strong>Bitcoin</strong></h2>
        <p>0.00036</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/img/nem-icon.png">
      </ion-avatar>
      <ion-label>
        <h2><strong>NEM</strong></h2>
        <p>0.00036</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/img/symbol.png">
      </ion-avatar>
      <ion-label>
        <h2><strong>Symbol</strong></h2>
        <p>0.00036</p>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>
