<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tabnav/wallets" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="openNodeSelectionModal()">
        <ion-icon name="ellipse" size="small"></ion-icon>Node
      </ion-button>
    </ion-buttons>

    <ion-title> {{ethWallet.walletName}} (BTC) </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-balance [wallet]="ethWallet"></app-balance>

  <ion-segment (ionChange)="viewChanged($event)" scrollable [(ngModel)]="segmentModel">
    <ion-segment-button value="chart" layout="icon-end">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>Chart</ion-label>
    </ion-segment-button>
    <ion-segment-button value="transaction" layout="icon-end">
      <ion-icon name="reorder-four"></ion-icon>
      <ion-label>Transaction</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-chart *ngIf="segmentModel === 'chart'" [transactionsData]="ethWallet.transactions"></app-chart>

  <app-transaction-list
    [transactions]="ethWallet.transactions"
    *ngIf="segmentModel === 'transaction'"
  ></app-transaction-list>
</ion-content>
