<ion-card *ngFor="let wallets of wallets">
  <!-- <ion-item lines="none" class="walletIcon" routerLink="/tabnav/wallets/bitcoin"> -->
  <ion-item lines="none" class="walletIcon" (click)="selectWallet()">
    <ion-avatar slot="start">
      <img *ngIf="wallets.walletType === 'BTC'" src="assets/img/bitcoin.png" />
      <img *ngIf="wallets.walletType === 'NEM'" src="assets/img/nem-icon.png" />
      <img *ngIf="wallets.walletType === 'ETH'" src="assets/img/symbol.png" />
    </ion-avatar>
    <ion-label>
      <h3>
        <b>{{ wallets.walletName }}</b>
      </h3>
      <h5 *ngIf="wallets.walletType === 'BTC'">
        <b>{{ wallets.cryptocurrency }}</b>&nbsp;BTC
      </h5>
      <h5 *ngIf="wallets.walletType === 'NEM'">
        <b>{{ wallets.cryptocurrency }}</b>&nbsp;NEM
      </h5>
      <h5 *ngIf="wallets.walletType === 'ETH'">
        <b>{{ wallets.cryptocurrency }}</b>&nbsp;ETH
      </h5>
      <h5>
        <b>{{ wallets.aud }}</b>&nbsp;AUD
      </h5>
      <p>{{ wallets.walletAddress }}</p>
    </ion-label>
  </ion-item>

  <div class="buttonContainer">
    <ion-button class="button" routerLink="/choose-send-account">SEND</ion-button>
    <ion-button class="button" routerLink="/receive">RECEIVE</ion-button>
  </div>
</ion-card>

<!--<ion-card>-->
<!--  <ion-item lines="none" class="walletIcon" routerLink="/tabnav/wallets/nem">-->
<!--    <ion-avatar slot="start">-->
<!--      <img src="assets/img/nem-icon.png">-->
<!--    </ion-avatar>-->
<!--    <ion-label>-->
<!--      <b>NEM</b>-->
<!--    </ion-label>-->
<!--    <ion-label slot="end">-->
<!--      0.000523-->
<!--    </ion-label>-->
<!--  </ion-item>-->
<!--</ion-card>-->
