<ion-toolbar class="search-bar">
  <ion-searchbar slot="start" class="ion-no-padding" (ionChange)="filterWallets($event)"></ion-searchbar>
  <ion-buttons slot="end">
    <ion-button class="add-btn btn-gradient-bg" routerLink="/tabnav/wallets/add-wallet">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-card *ngFor="let wallet of filteredWalletsArr">
  <ion-item lines="none">
    <ion-label style="display: flex; justify-self: center; align-items: center">
      <ion-img *ngIf="wallet.walletType === 'BTC'" src="assets/img/bitcoin.png"> </ion-img>
      <ion-img *ngIf="wallet.walletType === 'NEM'" src="assets/img/nem-icon.png"></ion-img>
      <ion-img *ngIf="wallet.walletType === 'ETH'" src="assets/img/ethereum.png"></ion-img>
      <ion-text class="wallet-name" button (click)="navToWallet(wallet, 'wallet')">{{ wallet.walletName }}</ion-text>
    </ion-label>

    <ion-button fill="clear" class="icon-btn margin-right">
      <ion-icon name="people-outline" class="blue-icon" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="icon-btn margin-right" routerLink="/notifications">
      <ion-icon name="notifications-outline" class="grey-icon" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="icon-btn" [routerLink]="['/tabnav', 'wallets', 'edit-wallet', wallet.walletId]">
      <ion-icon name="create-outline" class="grey-icon" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>

  <!--  address row -->
  <ion-item lines="none">
    <ion-label class="address">
      {{ wallet.walletAddress }}
    </ion-label>
  </ion-item>

  <!--  balance row -->
  <ion-card-content>
    <h1 class="wallet-balance">
      {{ wallet.walletBalance[1] }}
      <ion-text> {{ wallet.walletType === 'BTC' ? 'BTC' : wallet.walletType === 'NEM' ? 'NEM' : 'ETH' }}</ion-text>
    </h1>
    <h1 class="wallet-balance">
      {{ wallet.walletBalance[0] }}
      <ion-text> AUD</ion-text>
    </h1>
  </ion-card-content>

  <!--  footer: send & receive -->
  <ion-footer>
    <ion-row>
      <ion-col size="6" class="ion-text-center white-border">
        <ion-button fill="clear" (click)="selectWalletToken(wallet, 'send')" class="footer-btn"> SEND </ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button fill="clear" (click)="selectWalletToken(wallet, 'receive')" class="footer-btn">
          RECEIVE
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-card>
