<ion-card>
  <ion-item lines="none" class="walletIcon" routerLink="/tabnav/wallets/bitcoin">
    <ion-avatar slot="start">
      <img src="assets/img/bitcoin.png">
    </ion-avatar>
    <ion-label>
      <b>BTC</b>
    </ion-label>
    <ion-label slot="end">
      0.000523
    </ion-label>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item lines="none" class="walletIcon" routerLink="/tabnav/wallets/nem">
    <ion-avatar slot="start">
      <img src="assets/img/nem-icon.png">
    </ion-avatar>
    <ion-label>
      <b>NEM</b>
    </ion-label>
    <ion-label slot="end">
      0.000523
    </ion-label>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item lines="none" class="walletIcon" routerLink="/tabnav/wallets/symbol">
    <ion-avatar slot="start">
      <img src="assets/img/symbol.png">
    </ion-avatar>
    <ion-label>
      <b>SYMBOL</b>
    </ion-label>
    <ion-label slot="end">
      0.000523
    </ion-label>
  </ion-item>
</ion-card>
