.container {
  opacity: 0.5;
  // background-color: linear-gradient(180deg, #41a1c8 0%, #074673 100%);
  background: transparent linear-gradient(155deg, #074673 0%, #41a1c8 100%) 0%
    0% no-repeat padding-box;
  height: 100%;
  // color: #ffffff;
}

.title {
  padding-top: 50px;
  text-align: center;
  color: white;
}
.sub-title {
  margin-top: 50px;
  text-align: center;
  color: white;
}
