<ion-toolbar class="search-bar ion-margin-top">
  <ion-searchbar slot="start" class="ion-no-padding" (ionChange)="onSearchAddress($event)"></ion-searchbar>
  <ion-buttons slot="end">
    <ion-button class="add-btn btn-gradient-bg" routerLink="/tabnav/address-book/add-contact">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<div *ngIf="!filteredAddresses || filteredAddresses.length <= 0">
  <p class="ion-text-center">No address found</p>
</div>

<ion-list class="list" lines="none" *ngIf="filteredAddresses && filteredAddresses.length > 0">
  <ion-virtual-scroll [items]="filteredAddresses" approxItemHeight="70px">
    <ion-item (click)="navToDetail(address.id)" *virtualItem="let address">
      <ion-avatar slot="start">
        <img src="assets/img/contact.png" />
      </ion-avatar>
      <ion-label>{{ address.name }}</ion-label>
    </ion-item>
  </ion-virtual-scroll>
</ion-list>
