<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="" defaultHref="/tabnav/wallets/add-wallet-new"></ion-back-button>
      <ion-title>Add New Wallet</ion-title>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <div class="title-custom">
      Customer Name
    </div>
    <div class="input-custom">
      <ion-input value="custom"></ion-input>
    </div>
    <div class="btn-large_1" routerLink="/tabnav/wallets/add-wallet-multisig">
      <div class="inline_1">Mutisig</div>
      <div class="inline_2"><ion-icon name="chevron-forward-outline"></ion-icon></div>
    </div>
  </div>

</ion-content>
