ion-card {
  padding: 6px;
  box-shadow: none;
  box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.16);
  border-radius: 30px;

  // ion-icon{
  //   font-size: ;
  // }
}

ion-toolbar {
  text-align: center;
}
