ion-textarea {
  // border: 'none';
  --background: #e6e7e8;
  border-radius: 8px;
  padding: 10px;
  --placeholder-color: #757575;
  box-shadow: 0px 3px 6px #5a58581a;
  margin-bottom: 20px;
  margin-right: 3px;
}

ion-list-header {
  margin-bottom: 10px;
}
