<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/import-account" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Import By Private Key </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-img src="assets/img/bitcoin.png"></ion-img>
      </ion-avatar>
      <ion-label><h2>Bitcoin Private Key</h2> </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-img src="assets/img/nem-icon.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>NEM Private Key</h2>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-img src="assets/img/symbol.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>Symbol Private Key</h2>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-button class="ion-margin" expand="block" routerLink="/tabnav/wallets"> Import</ion-button>
</ion-content>
