<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-start"> App Store</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" color="primary" (click)="closeModal()">Cancel</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>AEM+ </ion-label>
    <p>IN_APP PURCHASE</p>
  </ion-item>
  <ion-item>
    <ion-label>Account </ion-label>
    <p>Chaofan@icloud.com</p>
  </ion-item>
  <ion-item>
    <ion-label>Price </ion-label>
    <p>$ {{ price }}</p>
  </ion-item>
  <ion-button color="primary" shape="round" (click)="onPurchase()"> Purchase </ion-button>
</ion-content>
