<ion-content>
  <div class="amount-div">
    <ion-row class="ion-justify-content-around ion-align-items-center">
      <ion-col size="8" class="name">{{ selectedTrans.receiver }}</ion-col>
      <ion-col size="3" class="ion-text-end">
        <ion-button mode="ios" fill="clear" (click)="close()">
          <ion-label slot="start">{{'wallets.close' | translate}}</ion-label>
          <ion-icon slot="end" name="close"></ion-icon> </ion-button
      ></ion-col>
    </ion-row>
    <h2
      *ngIf="selectedTrans.amountCurrency > -1"
      class="ion-text-center ion-no-padding ion-no-margin"
    >
      {{ selectedTrans.amountCurrency }}{{ currency }}
    </h2>
    <h6 class="ion-text-center ion-no-padding ion-no-margin">
      {{ selectedTrans.amount }} {{ selectedTrans.type }}
    </h6>
  </div>

  <div class="detail-div">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h4>{{'transaction_details.transaction_details' | translate}}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-around ion-align-items-center">
        <ion-col class="grey-font">{{"transaction_details.from" | translate}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col (click)="handleCopyOnClick(selectedTrans.address)" class="ion-text-end grey-font">{{selectedTrans.address}}</ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="grey-font">{{"transaction_details.to" | translate}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col (click)="handleCopyOnClick(selectedTrans.receiverAddress)" class="ion-text-end grey-font">{{selectedTrans.receiverAddress}}</ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="grey-font">{{"transaction_details.date" | translate}}</ion-col>
        <ion-col class="ion-text-end dark-font">{{ date }}</ion-col>
      </ion-row>
    </ion-grid>

    <hr />

    <!--  Tax detail div -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <h4>{{"transaction_details.tax_details" | translate}}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-around ion-align-items-center">
        <ion-col class="grey-font">{{"transaction_details.business_no" | translate}}</ion-col>
        <ion-col class="ion-text-end dark-font">{{
          selectedTrans.ABN
        }}</ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="grey-font">{{"transaction_details.amount" | translate}}</ion-col>
        <ion-col
          *ngIf="selectedTrans.amountCurrency > -1"
          class="ion-text-end dark-font"
          >{{ selectedTrans.amountCurrency }}{{ currency }}</ion-col
        >
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-end grey-font"
          >{{ selectedTrans.amount }} {{ selectedTrans.type }}</ion-col
        >
      </ion-row>

      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="grey-font">{{"transaction_details.fee" | translate}}</ion-col>
        <ion-col class="ion-text-end dark-font">{{
          selectedTrans.feeCurrency
        }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-end grey-font"
          >{{ selectedTrans.feeCrypto }} {{ selectedTrans.type }}
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="grey-font">{{"transaction_details.tax" | translate}}</ion-col>
        <ion-col class="ion-text-end dark-font">{{
          selectedTrans.tax
        }}</ion-col>
      </ion-row>
    </ion-grid>

    <div>
      <ion-button expand="block" class="export-btn" (click)="exportInvoice()">
        {{"transaction_details.export_invoice" | translate}}
      </ion-button>
    </div>
  </div>
</ion-content>
