<ion-content>
  <div class="amount-div">
    <!-- <ion-item lines="none">
      <ion-label>{{ selectedTrans.receiver }}</ion-label>
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item> -->

    <ion-row class="ion-justify-content-around ion-align-items-center">
      <ion-col class="name">{{ selectedTrans.receiver }}</ion-col>
      <ion-col class="ion-text-end">
        <ion-button fill="clear" (click)="close()"> <ion-icon name="close" slot="icon-only"></ion-icon> </ion-button
      ></ion-col>
    </ion-row>

    <!-- <div class="amount-div ion-text-center"> -->
    <h2 class="ion-text-center">{{ selectedTrans.amountAUD | currency }}</h2>
    <!--  TODO: get the wallet type -->
    <h6 class="ion-text-center">{{ selectedTrans.amount }} {{ walletType }}</h6>
    <!-- </div> -->
  </div>

  <!-- transsaction detail div -->
  <div class="detail-div">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h4>Transaction Details</h4>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-around ion-align-items-center">
        <ion-col class="grey-font">From</ion-col>
        <ion-col class="ion-text-end dark-font">{{ walletName }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-end grey-font">{{ selectedTrans.address }}</ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="grey-font">To</ion-col>
        <ion-col class="ion-text-end dark-font">{{ selectedTrans.receiver }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-end grey-font">{{ selectedTrans.recevierAddress }}</ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="grey-font">Date</ion-col>
        <ion-col class="ion-text-end dark-font">{{ date }}</ion-col>
      </ion-row>
    </ion-grid>

    <hr />

    <!--  Tax detail div -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <h4>Tax details</h4>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-around ion-align-items-center">
        <ion-col class="grey-font">Business No</ion-col>
        <!--  need the wallet name: to retrieve wallet then get the name??? it this neccessary??? -->
        <ion-col class="ion-text-end dark-font">{{ selectedTrans.ABN }}</ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="grey-font">Amount</ion-col>
        <ion-col class="ion-text-end dark-font">{{ selectedTrans.amountAUD | currency }}</ion-col>
      </ion-row>

      <ion-row>
        <!-- TODO: get the wallet type: -->
        <ion-col class="ion-text-end grey-font">{{ selectedTrans.amount }} {{ walletType }}</ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="grey-font">Fee</ion-col>
        <ion-col class="ion-text-end dark-font">{{ selectedTrans.feeAud | currency }}</ion-col>
      </ion-row>

      <ion-row>
        <!-- TODO: get the wallet type: -->
        <ion-col class="ion-text-end grey-font">{{ selectedTrans.feeCrypto }} {{ walletType }} </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="grey-font">Tax</ion-col>
        <ion-col class="ion-text-end dark-font">{{ selectedTrans.tax | currency }}</ion-col>
      </ion-row>
    </ion-grid>

    <div>
      <ion-button expand="block" class="export-btn">Export Invoice</ion-button>
    </div>
  </div>
</ion-content>
