<ion-content>
  <div style="height: 200px; text-align: center; background: rgb(226, 225, 225)">
    <hr />
    <!-- TODO: how to generate the QR code -->
    <p>QR code section</p>
  </div>
  <ion-item lines="none">
    <ion-icon slot="start" name="at-circle"></ion-icon>
    <ion-label>Your Address: </ion-label>
  </ion-item>

  <div class="ion-text-center">
    <!-- TODO: Click to copy the address text -->
    <p>dhfjksdf834rnjsdnfseyr8ehjkn</p>
  </div>

  <ion-button size="small" expand="block">Share Address</ion-button>
</ion-content>
