<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tabnav/address-book"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center; margin-top: 30px">
    <img style="width: 80px" src="assets/img/contact.png">
    <h5>Dee</h5>
  </div>

  <ion-card>
    <ion-item>
      <img src="assets/img/bitcoin.png" style="width: 25px;margin-right: 15px">
      <ion-label>Bitcoin</ion-label>
      <ion-button fill="outline" slot="end">Copy</ion-button>
    </ion-item>
    <ion-card-content>
      88070ee21ef642d263a01a21880beef200c3f48b
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <img src="assets/img/nem-icon.png" style="width: 25px;margin-right: 15px">
      <ion-label>NEM</ion-label>
      <ion-button fill="outline" slot="end">Copy</ion-button>
    </ion-item>
    <ion-card-content>
      1edd072aad695cf469832e2d473dca2eec0d5ef9
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <img src="assets/img/symbol.png" style="width: 25px;margin-right: 15px">
      <ion-label>Symbol</ion-label>
      <ion-button fill="outline" slot="end">Copy</ion-button>
    </ion-item>
    <ion-card-content>
      7c4a8d09ca3762af61e59520943dc26494f8941b
    </ion-card-content>
  </ion-card>



</ion-content>
