.edit-btn {
  padding-left: 5px;
  ion-icon {
    color: #ffffff;
  }
}

.contact-name {
  display: flex;
  justify-content: center;
  margin: 20px;
  ion-avatar {
    width: 90px;
    height: 90px;
  }
}

.contact-info {
  margin-bottom: 10px;
  ion-item {
    --min-height: 12px;
  }
  ion-icon {
    size: 12px;
  }
  ion-label {
    font-size: 12px;
  }
}

ion-text {
  color: #9f9f9f;
  font-size: 12px;
}

.footer-btn {
  height: 37px;
  font-size: 14px;
  font-weight: bold;
  --color: #000000;
}

ion-col {
  padding: 0;
  background-color: #f7f7f7;
}

ion-card {
  border-radius: 20px;
  margin: 0 20px 20px 20px;
  box-shadow: 0px 3px 6px #00000029;

  .border-bottom {
    --border-width: 0 0 2px 0;
    --border-color: #f7f7f7;
  }

  .wallet-name {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
  }

  ion-img {
    height: 25px;
    width: 25px;
    padding-right: 5px;
  }

  ion-card-content {
    font-size: 12px;
  }
}
