<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tabnav/address-book"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" style="padding: 40px 40px 10px 40px">
    <ion-avatar slot="start" style="height: 76px; width: 76px;margin-right: 20px">
      <img src="assets/img/contact.png">
    </ion-avatar>
    <ion-label>
      <h1>Daniel Jones</h1>
    </ion-label>
  </ion-item>

  <ion-card *ngFor="let address of address">
    <ion-item lines="inset">
      <img *ngIf="address.walletType === 'BTC'" src="assets/img/bitcoin.png" style="width: 25px;margin-right: 15px"/>
      <img *ngIf="address.walletType === 'NEM'" src="assets/img/nem-icon.png" style="width: 25px;margin-right: 15px"/>
      <img *ngIf="address.walletType === 'ETH'" src="assets/img/symbol.png" style="width: 25px;margin-right: 15px"/>

      <ion-label *ngIf="address.walletType === 'BTC'">Bitcoin</ion-label>
      <ion-label *ngIf="address.walletType === 'NEM'">NEM</ion-label>
      <ion-label *ngIf="address.walletType === 'ETH'">Symbol</ion-label>

      <ion-button fill="outline" slot="end">Copy</ion-button>
      <ion-button fill="outline" slot="end">Share</ion-button>
    </ion-item>

    <ion-card-content>{{address.walletAddress}}</ion-card-content>

  </ion-card>

</ion-content>
