<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref=""
          (click)="onDismiss()"
          text=""
        ></ion-back-button>
      </ion-buttons>
      <ion-title>{{'forgot_pin_auth.reset_pin' | translate}}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header class="ion-margin-top">
      {{'forgot_pin_auth.re_enter_mnemonic' | translate}}
    </ion-list-header>
    <ion-item lines="none">
      <ion-textarea
        rows="6"
        cols="20"
        placeholder="{{'forgot_pin_auth.mnemonic_hint' | translate}}"
        [(ngModel)]="mnemonic"
        name="mnemonic"
        type="text"
      ></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button
    mode="ios"
    class="ion-margin"
    expand="block"
    (click)="handleResetPinClick()"
    [disabled]="!validateMnemonic()"
  >
    {{'forgot_pin_auth.reset_pin' | translate}}
  </ion-button
  >
</ion-content>
