<ion-content>
  <ion-item lines="none" class="header">
    <ion-label class="title"> Add a new wallet </ion-label>
    <ion-button mode="ios" fill="clear" (click)="close()">
      <ion-label class="cancel-button-label">Cancel</ion-label>
    </ion-button>
  </ion-item>

  <form [formGroup]="addAddressForm" (ngSubmit)="onAddAddress()">
    <div>
      <h5 class="label">Wallet type</h5>
      <ion-item lines="none" class="input-shadow">
        <ion-label (click)="onWalletType()">
          {{cryptoType ? cryptoType : 'Select a wallet type'}}
        </ion-label>
        <div class="vl" slot="end"></div>

      </ion-item>
      <div *ngIf="isShowWalletType" class="select-coin">
        <div *ngFor="let wallet of arrayWalletType">
          <div class="child-select-coin"  (click)="chooseCoin(wallet)">{{wallet.walletTypeName}}</div>
        </div>
      </div>
    </div>

    <h5 class="label">Wallet Address</h5>
    <ion-item lines="none">
      <ion-input placeholder="Wallet address" formControlName="address"></ion-input>
    </ion-item>

    <h5 class="label">Description</h5>
    <ion-item lines="none">
      <ion-input formControlName="description" placeholder="Wallet description"></ion-input>
    </ion-item>

    <ion-button mode="ios" type="submit" expand="block" class="ion-margin-top btn-gradient-bg" [disabled]="addAddressForm.invalid">
      Add
    </ion-button>
  </form>
</ion-content>
