.img-download {
  display: inline-block;
  margin-left: 50px;
}
.menu {
  height: 100px;
}
.title {
  color: black;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 21px;
}
.title-download {
  display: inline-block;
  margin-left: 50px;
}
