<ion-content class="ion-padding">
  <div class="wrap pd">
    <ion-icon class="img" src="assets/img/donation-img.svg"></ion-icon>
  </div>
  <div>
    <ion-text class="text">{{"donation.message1" | translate}}</ion-text>
  </div>
  <div class="mt">
    <ion-text class="text2">{{"donation.message2" | translate}}</ion-text>
  </div>
  <div class="wrap2 mt">
    <ion-button mode="ios" class="gradient-button" (click)="handleContinueOnClick()">{{"donation.contribute_now" | translate}}</ion-button>
    <ion-button mode="ios" size="small" class="button" (click)="handleSkipOnClick()">{{"donation.skip" | translate}}</ion-button>
  </div>
</ion-content>
