<ion-content class="ion-padding">
  <div class="wrap pd">
    <ion-icon class="img" src="assets/img/donation-img.svg"></ion-icon>
  </div>
  <div>
    <ion-text class="text">We are in mission to make your experience better</ion-text>
  </div>
  <div class="mt">
    <ion-text class="text2">Your contribution will let us to improve AEM+</ion-text>
  </div>
  <div class="wrap2 mt">
    <ion-button class="gradient-button" (click)="handleContinueOnClick()">Contribute Now</ion-button>
    <ion-button size="small" class="button" (click)="handleSkipOnClick()">Skip</ion-button>
  </div>
</ion-content>
