<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons>
        <ion-back-button
          defaultHref="/tabnav/setting"
          text=""
        ></ion-back-button>
      </ion-buttons>
      <ion-title>{{'settings_notifications.notification' | translate}}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="margin-top: 30px;">
    <ion-item lines="none">
      <ion-label>{{'settings_notifications.allow_all_notifications' | translate}}</ion-label>
      <ion-toggle [checked]="notificationSettings[keyNotificationAll]" (ionChange)="handleAllNotificationOnChange($event)" slot="end" name="allowAllNotifications"></ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{'settings_notifications.received_currencies' | translate}}</ion-label>
      <ion-toggle [checked]="notificationSettings[keyNotificationReceiveCurrency]" (ionChange)="handleReceiveCurrencyOnChange($event)" slot="end" name="receivedCurrencies"></ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{"settings_notifications.account_update" | translate}}</ion-label>
      <ion-toggle [checked]="notificationSettings[keyNotificationAccountUpdate]" (ionChange)="handleAccountUpdateOnChange($event)" slot="end" name="accountUpdates"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
