<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="icon-only" (click)="closeModal()"> <ion-icon slot="end" name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title> Server </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- server list items -->
  <ion-list class="ion-margin">
    <ion-item *ngFor="let server of serverList; let i = index" (click)="selectedServer(i)"> {{ server }}</ion-item>
  </ion-list>

  <!-- add custom node section: -->
  <ion-list class="ion-margin">
    <ion-list-header>
      <ion-label> Add Custom Node </ion-label>
      <!-- <ion-button fill="clear">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button> -->
      <ion-button fill="clear" (click)="saveCutomServer()">Save</ion-button>
    </ion-list-header>
    <ion-item>
      <ion-label>Host</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Port</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <!-- <ion-button (click)="confirmNode()">Save</ion-button> -->
</ion-content>
