<ion-header>
  <ion-toolbar>
    <ion-title>Export</ion-title>
  </ion-toolbar>
  <div class="decription ion-text-center">
    <span>
      ???some basic info for user (how much to cost for unlocking the export, what user can do once unlock the export)
    </span>
  </div>
</ion-header>

<ion-content class="ion-padding-top">
  <form [formGroup]="exportForm" (ngSubmit)="onSubmit()">
    <h5 class="title">From</h5>
    <ion-item lines="none">
      <ion-datetime
        slot="end"
        max="2022-12-31"
        value="2019-10-01T15:43:40.394Z"
        displayFormat="D/MM/YYYY"
        formControlName="dateFrom"
      ></ion-datetime>
    </ion-item>

    <h5 class="title">To</h5>
    <ion-item lines="none" class="input-shadow">
      <ion-datetime
        slot="end"
        max="2022-12-31"
        value="2019-10-01T15:43:40.394Z"
        displayFormat="D/MM/YYYY"
        formControlName="dateTo"
      ></ion-datetime>
    </ion-item>

    <h5 class="title">Cryptocurrency type</h5>
    <ion-item lines="none" class="input-shadow">
      <ion-select slot="end" formControlName="walletType" (ionChange)="onSelectType($event)">
        <ion-select-option value="BTC">BTC</ion-select-option>
        <ion-select-option value="NEM">XEM</ion-select-option>
        <ion-select-option value="ETH">ETH</ion-select-option>
      </ion-select>
    </ion-item>

    <h5 class="title">Wallets</h5>
    <ion-item lines="none" class="input-shadow">
      <ion-select
        slot="end"
        multiple="true"
        formControlName="walletsExport"
        (ionChange)="onSelectExportWallets($event)"
      >
        <ion-select-option *ngFor="let wallet of wallets" [value]="wallet.walletId">
          {{wallet.walletName}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div class="btn-div">
      <!--   if user's export function unlocked:  make purchase-->
      <ion-button
        *ngIf="!isExportUnlocked; else exportTrans"
        class="btn-gradient-bg"
        type="submit"
        expand="block"
        type="submit"
      >
        Unlock Export
      </ion-button>
      <!--    if user's export function locked:  select transactions export file formate-->
      <ng-template #exportTrans>
        <ion-button
          class="btn-gradient-bg"
          [disabled]="exportForm.invalid"
          type="button"
          expand="block"
          (click)="exportCSV()"
        >
          Export as CSV
        </ion-button>

        <ion-button
          class="btn-gradient-bg"
          [disabled]="exportForm.invalid"
          type="button"
          expand="block"
          (click)="exportExcel()"
        >
          Export as Excel
        </ion-button>
      </ng-template>
    </div>
  </form>
</ion-content>
