<ion-header>
  <ion-toolbar>
    <ion-title>Export</ion-title>
  </ion-toolbar>
  <div class="decription ion-text-center">
    <span>Export transaction histories in various formats</span>
  </div>
</ion-header>

<ion-content class="ion-padding-top">
  <form [formGroup]="exportForm" (ngSubmit)="onSubmit()">
    <h5 class="title">From</h5>
    <ion-item lines="none">
      <ion-datetime
        slot="end"
        max="2022-12-31"
        value="2019-10-01T15:43:40.394Z"
        displayFormat="D/MM/YYYY"
        formControlName="dateFrom"
      ></ion-datetime>
    </ion-item>

    <h5 class="title">To</h5>
    <ion-item lines="none" class="input-shadow">
      <ion-datetime
        slot="end"
        max="2022-12-31"
        value="2019-10-01T15:43:40.394Z"
        displayFormat="D/MM/YYYY"
        formControlName="dateTo"
      ></ion-datetime>
    </ion-item>

    <h5 class="title">Cryptocurrency type</h5>
    <ion-item lines="none" class="input-shadow">
      <ion-select slot="end" formControlName="walletType" (ionChange)="onSelectType($event)">
        <ion-select-option value="BTC">BTC</ion-select-option>
        <ion-select-option value="NEM">XEM</ion-select-option>
        <ion-select-option value="ETH">ETH</ion-select-option>
      </ion-select>
    </ion-item>

    <h5 class="title">Wallets</h5>
    <ion-item lines="none" class="input-shadow">
      <ion-select
        slot="end"
        multiple="true"
        formControlName="walletsExport"
        (ionChange)="onSelectExportWallets($event)"
      >
        <ion-select-option *ngFor="let wallet of wallets" [value]="wallet.walletId">
          {{wallet.walletName}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <p class="fee-info">This operation has a cost of {{purchaseFee}} AUD</p>
        </ion-col>
      </ion-row>
    </div>

    <!-- 
           ------   if user's export function unlocked:  make purchase
     -->
    <div class="continue-btn" *ngIf="!isExportUnlocked; else exportTrans">
      <!-- <ion-button [disabled]="exportForm.invalid" expand="block"> Continue </ion-button> -->
      <ion-button type="submit" expand="block" type="submit"> Unlock Export </ion-button>

      <!-- <ion-button type="submit" expand="block"> Continue </ion-button> -->
    </div>

    <!-- 
           ------   if user's export function locked:  select transactions export file formate
     -->
    <ng-template #exportTrans>
      <ion-button [disabled]="exportForm.invalid" type="button" expand="block" (click)="exportPdf()">
        Export as PDF
      </ion-button>
      <ion-button [disabled]="exportForm.invalid" type="button" expand="block" (click)="exportCSV()">
        Export as CSV
      </ion-button>
    </ng-template>
  </form>
</ion-content>
