.decription {
  padding: 0 0 20px 0;
  color: #ffffff;
  background: linear-gradient(to right, rgba(65, 161, 200), rgb(7, 70, 115));
  span {
    font-size: 12px;
  }
}

form {
  padding: 0 20px;
}

.title {
  font-size: 14px;
  color: #074673;
  font-weight: bold;
}

ion-item {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;

  ion-datetime,
  ion-select {
    --placeholder-color: #000000de;
    font-size: 14px;
    font-family: Roboto;
  }
}

.fee-info {
  color: #41a1c8;
  font-size: 12px;
}

ion-select.in-item {
  max-width: 100%;
}

.continue-btn {
  margin: 20px 0;
}
