<ion-header>
  <ion-toolbar>
    <ion-title>Export</ion-title>
  </ion-toolbar>
  <div class="decription ion-text-center">
    <span>Export transaction histories in various formats</span>
  </div>
</ion-header>

<ion-content class="ion-padding-top">
  <form [formGroup]="exportForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item lines="none">
            <ion-label position="stacked"> From: </ion-label>
            <ion-datetime
              max="2022-12-31"
              value="2019-10-01T15:43:40.394Z"
              displayFormat="D/MM/YYYY"
              formControlName="dateFrom"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item lines="none">
            <ion-label position="stacked"> To: </ion-label>
            <ion-datetime
              max="2022-12-31"
              value="2019-10-01T15:43:40.394Z"
              displayFormat="D/MM/YYYY"
              formControlName="dateTo"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item lines="none">
            <ion-label position="stacked"> Wallets to export</ion-label>
            <ion-select multiple="true" formControlName="walletsExport">
              <ion-select-option value="btc">BTC</ion-select-option>
              <ion-select-option value="nem">NEM</ion-select-option>
              <ion-select-option value="symbol">Symbol</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item lines="none">
            <ion-label position="stacked"> Select a wallet to pay </ion-label>
            <ion-select formControlName="paymentWallet">
              <ion-select-option value="btc">BTC</ion-select-option>
              <ion-select-option value="nem">NEM</ion-select-option>
              <ion-select-option value="symbol">Symbol</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- once the form valid:
                 show the fee & enable the button
      -->
      <ion-row *ngIf="exportForm.valid">
        <ion-col size-md="6" offset-md="3">
          <ion-item lines="none">
            <ion-label> <p class="fee-info">This operation has a cost of 2.22AUD.</p> </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-button [disabled]="exportForm.invalid" type="submit" expand="block"> Continue </ion-button>
          <!-- <ion-button type="submit" expand="block"> Continue </ion-button> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
