ion-content {
  text-align: center;
}

h4 {
  margin-top: 20px;
  font-size: 20px;
  color: #074673;
}

h2 {
  font-size: 30px;
  color: #074673;
}

p {
  color: black;
  padding: 4px 0;
}

ion-button {
  --background: linear-gradient(to bottom, #41a1c8, #074673);
  margin-top: 40px;
  color: white;
  width: 130px;
}
