<ion-content>
  <h4>Confirm Transaction</h4>
  <h2><strong>$ 300.00 AUD</strong></h2>
  <p style="padding-bottom: 20px; color: #707070;">1.53679 XEM</p>

  <ion-item lines="none">
    <ion-label style="text-align: end;">
      <p>Date</p>
      <p>Invoice Number</p>
      <p>Receiver</p>
      <p>Description</p>
      <p>Fee</p>
    </ion-label>
    <ion-label>
      <p>21/01/2021</p>
      <p>1234 567 890</p>
      <p>Einstein</p>
      <p>Bill</p>
      <p>$2 (11XEM)</p>
    </ion-label>
  </ion-item>

  <section>
    <ion-button style="margin-right: 15px;" (click)="close()">Cancel</ion-button>
    <ion-button (click)="confirm()">Confirm</ion-button>
  </section>

</ion-content>