ion-header {
  ion-toolbar{
    --background: white;
  }
}

.list {
  padding: 0px 20px;
}

ion-avatar {
  margin: 15px 20px 15px 0px;
  box-shadow: 0 0 8px #41A1C8;
}

.search-bar {
  padding: 5px 10px 0 10px;
}
