ion-content {
  --background: #F9FAFC;
}

ion-card {
  box-shadow: 0 3px 6px #00000029;
  margin: 10px 16px;

  h5 {
    font-size: 12px;
    color: #074673;
  }

  strong {
    font-size: 14px;
    color: #074673;
  }

  p {
    font-size: 12px;
    color: #757575;
  }
}

.toolbar {
  padding: 20px 16px 0;

  p {
    display: inline;
    font-size: 16px;
    font-weight: bold;  
  }

  .change {
    font-size: 12px;
    color: #074673;
    display: inline; 
    float: right;
  }

  .amount {
    color: #707070;
    font-size: 14px;
    display: inline; 
    float: right;
  }
}

.boxShadow {
  box-shadow: 0 3px 6px #00000029;
}

ion-item {
  // background-color: white;
  border-radius: 8px;
  margin: 10px 16px;

  ion-label {
    color: #707070;
  }
}

.nextBtn {
  margin: 30px 16px;
  --background: linear-gradient(to bottom, #41a1c8, #074673);
}
