<ion-header>
  <ion-toolbar style="padding: 30px 0 0">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/send" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Send</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="toolbar">
    <p style="display: inline;">From</p>
    <strong class="change">Change</strong>
  </div>
  <ion-card>
    <ion-item lines="none" style="border-bottom: 1px solid #DFE7ED;">
      <ion-avatar slot="start">
        <ion-img src='assets/img/nem-icon.png'></ion-img>
      </ion-avatar>
      <ion-label>
        <h5>My Wallet 2</h5>
        <strong>Token 1</strong>
        <p>NAJA6H-KCOU7X-ZBJAPF-GGYYYW-22Y4RO-V5PF63-U5IK</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label style="padding-left: 55px;">
        <p>XEM: 56.3</p>
        <p>AUD: 10</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <div class="toolbar">
    <p style="display: inline;">To</p>
    <strong class="change">Change</strong>
  </div>

  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-img src='assets/img/nem-icon.png'></ion-img>
      </ion-avatar>
      <ion-label>
        <strong>Einstein</strong>
        <p>ZBJAPF-HUGY7X-GGYYYW-GGYYYW-22Y4RO-V5PF63-U5IK</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <div class="toolbar">
    <p style="display: inline;">Amount</p>
    <strong class="amount">0.365000 XEM</strong>
  </div>

  <ion-item lines="none">
    <ion-label slot="end">AUD</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <div class="toolbar">
    <p style="display: inline;">Description</p>
  </div>

  <ion-item lines="none">
    <ion-textarea></ion-textarea>
  </ion-item>

  <div style="text-align: center">
    <ion-button expand="block" class="sendBtn" routerLink="/send/confirm-fee">Send</ion-button>
  </div>

</ion-content>
