<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="ion-no-margin close-text" fill="clear" (click)="closeModal()"> Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" class="wallet-info">
    <p class="name">{{ selectedWallet.walletName }}</p>
    <!--  
                This is the wallet select, nav to the main wallet page
     -->
    <ion-item button (click)="onSelectWallet()">
      <ion-label color="primary">
        <h4>
          {{ selectedWallet.walletBalance[1] }} <ion-note>{{ selectedWallet.walletType }} </ion-note>
        </h4>
        <h4>${{ selectedWallet.walletBalance[0] }} <ion-note>AUD</ion-note></h4>
      </ion-label>

      <ion-avatar slot="end">
        <ion-img
          [src]="
            selectedWallet.walletType === 'BTC'
              ? 'assets/img/bitcoin.png'
              : selectedWallet.walletType === 'NEM'
              ? 'assets/img/nem-icon.png'
              : 'assets/img/ethereum.png'
          "
        ></ion-img>
      </ion-avatar>
    </ion-item>
    <p>{{ selectedWallet.walletAddress }}</p>
  </ion-list>

  <!-- 
             this is the token items, nav to same page, but show token info
   -->
  <ion-item *ngFor="let token of selectedWallet.tokens; let i = index" (click)="onSelectToekn(i)" button lines="none">
    <ion-grid class="token-item">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="4">
          <ion-label>
            <h4 class="name">
              {{ token.name }}
            </h4>
          </ion-label>
        </ion-col>

        <ion-col>
          <ion-label>
            <h5>{{ token.balance[1] }} <ion-note>BTC</ion-note></h5>
            <h5>$ {{ token.balance[0] }} <ion-note> AUD</ion-note></h5>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
