<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="assets/img/bitcoin.png" />
    </ion-avatar>
    <ion-label>
      <h3 style="color: #0b4875">
        <b>{{ selectedWallet.walletName }}</b>
      </h3>
      <h5>
        <b>{{ selectedWallet.walletBalance[1] }}</b>
        &nbsp;{{ selectedWallet.walletType }}
      </h5>
      <h5>
        <b>{{ selectedWallet.walletBalance[0] }}</b
        >&nbsp;AUD
      </h5>
      <p>{{ selectedWallet.walletAddress }}</p>
    </ion-label>
  </ion-item>

  <ion-item
    *ngFor="let token of selectedWallet.tokens"
    (click)="onSelect()"
    class="tokenList"
    detail="true"
    lines="none"
  >
    <ion-label style="color: #0b4875">
      <h3>
        <strong>{{ token.name }}</strong>
      </h3>
    </ion-label>
    <ion-label style="margin-left: -80px">
      <p>
        <b>{{ token.balance[1] }}</b> BTC
      </p>
      <p>
        <b>{{ token.balance[0] }}</b> AUD
      </p>
    </ion-label>
  </ion-item>
</ion-content>
