<ion-header>
  <ion-toolbar>
    <ion-title>Wallet name</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- the list of tokens of this wallet -->
    <ion-item (click)="onSelect()"> token1 </ion-item>
    <ion-item (click)="onSelect()"> token2 </ion-item>
    <ion-item (click)="onSelect()"> token3 </ion-item>
    <ion-item (click)="onSelect()"> token4 </ion-item>
  </ion-list>
</ion-content>
