.walletHeader{
  padding: 20px 0;
  text-align: center;
}

ion-header {
  ion-card {
    margin: 0 0 10px 0;
    padding: 6px;
    box-shadow: none;

    --background: linear-gradient(to left bottom, #41A1C8, #074673);
    color: white;
    border-radius: 0;
  }
}

ion-fab-button {
  --background: linear-gradient(to bottom right, #41A1C8, #074673);
}
