<ion-header class="ion-no-border">
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar class="ion-no-border tool-bar-children">
      <div class="header-wallet">
        <div class="total-balace ">
          <div class="total-balance__text ion-text-center">
            <span>&#36;</span>
            {{allBalanceInCurrency}}
            <span>{{currency}}</span>
          </div>
          <ion-buttons slot="end">
            <ion-button class="notification-btn" routerLink="/notifications">
              <ion-icon name="notifications-outline"> </ion-icon>
              <ion-badge *ngIf="notificationCounts > 0" color="danger" class="badge-num"> {{notificationCounts && notificationCounts}} </ion-badge>
            </ion-button>
          </ion-buttons>
        </div>
      </div>

    </ion-toolbar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <!-- ========= list of wallets =========== -->
  <app-list class="ion-no-padding" [filteredWalletsArr]="wallets"></app-list>
</ion-content>
