<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="notification-btn" routerLink="/notifications">
        <ion-icon name="notifications-outline"> </ion-icon>
        <ion-badge color="danger" class="badge-one">
          <!-- TODO: 
               dynamically show the number of unread notifications:
                 unread , read
          -->
          11
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- ========= balances =========== -->
  <div class="total-balace ion-text-center">
    <p>
      <span>&#36;</span>
      3000.00
      <span>AUD</span>
    </p>
  </div>

  <!--  ========= search & add  ===========  -->
  <ion-toolbar class="search-bar">
    <ion-searchbar slot="start" class="ion-no-padding"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button class="add-btn" routerLink="/tabnav/wallets/add-wallet">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- ========= list of wallets =========== -->
  <app-list class="ion-no-padding"></app-list>
</ion-content>
