.btn {
  height: 41px;
  width: 41px;
}
.btn-icon {
  position: absolute;
  top: -5px;
  height: 55px;
  width: 55px;
}
.header-wallet {
  display: flex;
  //height: 158px;
  align-items: flex-end;
  padding: 15px 0px;
  flex-direction: column;

  .select-button {
    align-self: start;
    --padding-start: 0;
    padding-left: 0;
  }

  .spotlight {
    width: 17px;
    height: 17px;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    border-style: solid;

    margin-left: 8px;
    margin-right: 6px;
  }

  .total-balace {
    width: 100%;
    color: white;
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    .total-balance__text {
      width: 100%;
    }
    span {
      font-weight: normal;
      font-size: 14px;
    }
  }
}
