<ion-header>
  <ion-item lines="none" class="header">
    <ion-label class="name">
      {{'wallet_receive.receive' | translate}}
    </ion-label>
    <ion-button mode="ios" fill="clear" (click)="close()">
      <ion-label class="label-button">{{"wallets.close" | translate}}</ion-label>
    </ion-button>
  </ion-item>
</ion-header>

<ion-content>
  <ion-list lines="none" class="wallet-info">
    <!--
                This is the wallet select, nav to the main wallet page
     -->
    <ion-item *ngFor="let wallet of wallets" mode="ios" (click)="handleWalletOnClick(wallet)" button >
      <ion-label color="none">
        <h4>
          {{ wallet.walletBalance[1].toLocaleString() }}
          <ion-note>{{ wallet.walletType }} </ion-note>
        </h4>
        <h4 *ngIf="wallet.walletBalance[0] >= 0">
          {{fiatSymbol}}{{ wallet.walletBalance[0].toLocaleString() }}
          <ion-note>{{ wallet.currency }}</ion-note>
        </h4>
      </ion-label>
      <ion-avatar>
        <img [src]="walletIcon[wallet.walletType]" />
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>
