ion-content {
  --background: transparent linear-gradient(155deg, #074673 0%, #41a1c8 100%) 0%
    0% no-repeat padding-box;
}

.logo-div {
  text-align: center;
  img {
    width: 79px;
    height: 112px;
    margin-bottom: 30px;
  }
}

ion-button {
  --background: #074673;
  color: #f9fafc;
  font-size: 18px;
  font-weight: normal;
}

.empty-div {
  // -----  the height === img height + marign
  height: 142px;
}

.ion-text-center {
  font-size: 15px;
  color: #f9fafc;
}

.language-option {
  position: absolute;
  bottom: 20px;
  right: 5px;
  color: #FFFFFF;
  font-size: 14px;
}
