<ion-content class="ion-align-items-center">
  <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="logo-div ion-padding">
            <img src="../assets/logos/logo_white.png" />
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button mode="ios" expand="block" routerLink="create-account">Create account</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button mode="ios" expand="block" routerLink="import-account">Import account</ion-button>
        </ion-col>
      </ion-row>

      <div class="default-padding" style="text-align: center;">
        <button class="btn-1" clear color="positive" ion-button on-click="goToLoginPage()">
            {{'Log In'}}
        </button>
      </div>

      <div class="empty-div"></div>
    </ion-grid>
  </ion-row>
</ion-content>
