<ion-fab horizontal="end" vertical="center" slot="fixed">
  <ion-fab-button >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-toolbar >
  <ion-searchbar animated></ion-searchbar>
</ion-toolbar>

<ion-list class="list" lines="none">
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/img/contact.png">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/img/contact.png">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/img/contact.png">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/img/contact.png">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/img/contact.png">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/img/contact.png">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/img/contact.png">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>

</ion-list>
