.search {
  margin-left: 30px;
  width: 320px;
  border: 1px solid lightgray;
  border-radius: 30px;
}

.list {
  padding: 0px 20px;
}

ion-avatar {
  margin: 15px 20px 15px 0px;
  box-shadow: 0 0 8px #41A1C8;
}
