<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons>
        <ion-back-button
          text=""
          defaultHref="/tabnav/wallets/add-wallet-new"
        ></ion-back-button>
        <ion-title>{{'add_new_wallet.add_new_wallet' | translate}}</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="title-custom">{{'add_new_wallet.address' | translate}}</div>
    <div class="input-custom">
      <ion-input
        [(ngModel)]="credentials.address"
        placeholder="{{'add_new_wallet.validate_message' | translate}}"
        readonly
      ></ion-input>
    </div>

    <div class="container">
      <div *ngIf="!showSelect">
        <div class="btn-large_1" (click)="selectCoin()">
          <div *ngIf="!showCoin">
            <div class="inline_1">{{"add_new_wallet.currency_type" | translate}}</div>
            <div class="inline_2">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </div>
          </div>
          <div *ngIf="showCoin">
            <div class="inline_1">{{selectedCoin.name}}</div>
            <div class="inline_2">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showSelect">
        <div class="btn-large_1" (click)="selectCoin()">
          <div class="inline_1">{{"add_new_wallet.currency_type" | translate}}</div>
          <div class="inline_2">
            <ion-icon name="chevron-up-outline"></ion-icon>
          </div>
        </div>

        <div class="select-coin">
          <div *ngFor="let supportedCoin of supportedCoins">
            <div class="child-select-coin" (click)="chooseCoin(supportedCoin)">
              {{supportedCoin.name}}
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!showSelect">
        <div class="title-custom">{{"add_new_wallet.private_key" | translate}}</div>
        <div class="input-custom">
          <!-- <ion-input placeholder={{privateKey}} [(ngModel)]="credentials.privateKey" type="text"></ion-input> -->
          <ion-input
            [value]="pk"
            (input)="onPrivateKey($event)"
            type="text"
          ></ion-input>
        </div>
        <div *ngIf="error">
          <div class="error">{{messageError}}</div>
        </div>

        <div class="title-custom">{{"add_new_wallet.custom_name" | translate}}</div>
        <div class="input-custom">
          <ion-input
            [value]="custom_name"
            (input)="onCustomName($event)"
            [(ngModel)]="credentials.username"
          >
          </ion-input>
        </div>
      </div>
    </div>

    <div class="container-btn">
      <div *ngIf="!showBtnSave" class="btn-large_disable">
        <div class="text-middle">{{"add_new_wallet.save" | translate}}</div>
      </div>
      <div *ngIf="showBtnSave" class="btn-large_2">
        <div class="text-middle" (click)="continue()">{{"add_new_wallet.save" | translate}}</div>
      </div>
    </div>
  </div>
</ion-content>
