.btn-large_1 {
    background-image: linear-gradient(180deg, #41a1c8 0%, #074673 100%);
    height: 48px;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
}

.container{
    height: 200px;
}

.btn-large_2 {
    background: linear-gradient(180deg, #41a1c8 0%, #074673 100%);
    height: 48px;
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;

}

.btn-large_disable {
    background: #00000033;
    height: 48px;
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
}

.text-middle {
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
}

.text-middle-disable {
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
}

.inline_1 {
    color: white;
    display: inline-block;
    padding-top: 15px;
    padding-left: 10px;
    // float:left;
}

.inline_2 {
    display: inline-block;
    color: white;
    padding-top: 15px;
    padding-right: 10px;
    float: right;
}

.title-custom {
    font-weight: bold;
    margin-top: 30px;
    margin-left: 15px;
    line-height: 20px;
    color: #074673;
}

.input-custom {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    border-bottom: 1px solid #41A1C8;
}

// .title-custom:hover div {
//     background-color: yellow !important;
//   }
// div.select-coin:hover{
//     color: #074673 ;
//     background-color:#41A1C8;
//     font-weight: bold;
//  }
.select-coin {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #E6E7E8;
    background-color: white;
}

.child-select-coin:hover {
    color: #074673;
    --background-color: #41A1C8 !important;
    font-weight: bold;
}

div.child-select-coin {
    height: 48px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #E6E7E8;
    text-align: left;
    vertical-align: middle;
    line-height: 48px;
    font-weight: normal;
    padding-left: 10px;
    // --background-hover:red !important;
}

a:active div {
    background-color: yellow !important;
}

.error {
    margin-top: 10px;
    margin-left: 10px;
    color: #eb445a;
}
