// ion-list-header {
//   .title {
//     margin-top: 20px;
//     color: #074673;
//     font-size: 20px;
//   }
// }

// ion-item {
//   h6 {
//     color: #216e9a;
//     font-size: 12px;
//     font-weight: bold;
//     font-family: Roboto;
//   }
//   p {
//     color: #000000de;
//     font-size: 16px;
//     font-family: Roboto;
//   }
// }

// ion-footer {
//   ion-button {
//     color: #074673;
//     font-size: 14px;
//   }
// }

// ion-note {
//   --color: #9f9f9f;
//   font-size: 11px;
//   font-family: Roboto;
// }

// --------------
ion-content {
  text-align: center;
}

h4 {
  margin-top: 20px;
  font-size: 20px;
  color: #074673;
}

h2 {
  font-size: 30px;
  color: #074673;
}

p {
  color: black;
  padding: 4px 0;
}

ion-button {
  --background: linear-gradient(to bottom, #41a1c8, #074673);
  margin-top: 40px;
  color: white;
  width: 130px;
}
