<ion-content>
  <h4 class="ion-text-center">Confirm Transaction</h4>
  <h2 class="ion-text-center">
    <strong>
      {{
        transactionInfo?.amountCurrency > -1
          ? '$' +
            transactionInfo.amountCurrency +
            ' ' +
            transactionInfo.currency
          : ''
      }}</strong
    >
  </h2>
  <p class="amount-crypto ion-text-center">
    {{ transactionInfo.amount }} {{ walletToken || walletType }}
  </p>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-end">
        <p class="label">Date</p>
      </ion-col>
      <ion-col>
        <p class="content">{{ date }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <p class="label">Invoice Number</p>
      </ion-col>
      <ion-col>
        <p class="content">{{ transactionInfo.txsId }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <p class="label">Receiver</p>
      </ion-col>
      <ion-col>
        <p class="content">{{ transactionInfo.receiver }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <p class="label">Description</p>
      </ion-col>
      <ion-col>
        <p class="content">
          {{ transactionInfo.description ? transactionInfo.description : '' }}
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <p class="label">Fee</p>
      </ion-col>
      <ion-col>
        <p class="content">${{ transactionInfo.feeCurrency }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> </ion-col>
      <ion-col>
        <p>
          <ion-note
            >({{ transactionInfo.feeCrypto }} {{ walletType }})
          </ion-note>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <section class="btn-div">
    <div class="space"></div>
    <ion-button mode="ios" (click)="close()">Cancel</ion-button>
    <div class="space"></div>
    <ion-button mode="ios" (click)="confirm()">Confirm</ion-button>
    <div class="space"></div>
  </section>
</ion-content>
