<ion-content>
  <h4 class="ion-text-center">{{'wallet_send.confirm_transaction' | translate}}</h4>
  <h2 class="ion-text-center">
    <strong>
      {{
        transactionInfo?.amountCurrency > -1
          ? fiatCurrency +
            transactionInfo.amountCurrency +
            ' ' +
            transactionInfo.currency
          : ''
      }}</strong
    >
  </h2>
  <p class="amount-crypto ion-text-center">
    {{ transactionInfo.amount }} {{ walletToken || walletType }}
  </p>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-end">
        <p class="label">{{'wallet_send.date' | translate}}</p>
      </ion-col>
      <ion-col>
        <p class="content">{{ date }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <p class="label">{{"wallet_send.invoice_number" | translate}}</p>
      </ion-col>
      <ion-col>
        <p class="content">{{ transactionInfo.txsId }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <p class="label">{{'wallet_send.receiver' | translate}}</p>
      </ion-col>
      <ion-col>
        <p class="content">{{ transactionInfo.receiver }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <p class="label">{{'wallet_send.description' | translate}}</p>
      </ion-col>
      <ion-col>
        <p class="content">
          {{ transactionInfo.description ? transactionInfo.description : '' }}
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <p class="label">{{"wallet_send.fee" | translate}}</p>
      </ion-col>
      <ion-col>
        <p class="content">{{fiatCurrency}}{{ transactionInfo.feeCurrency }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> </ion-col>
      <ion-col>
        <p>
          <ion-note
            >({{ transactionInfo.feeCrypto }} {{ walletFeeType }})
          </ion-note>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <section class="btn-div">
    <div class="space"></div>
    <ion-button mode="ios" (click)="close()">{{"wallet_send.cancel" | translate}}</ion-button>
    <div class="space"></div>
    <ion-button mode="ios" (click)="confirm()">{{'wallet_send.confirm' | translate}}</ion-button>
    <div class="space"></div>
  </section>
</ion-content>
