h4 {
  margin: 15px;
  font-size: 20px;
  color: #074673;
}

h2 {
  font-size: 30px;
  color: #074673;
}

.amount-crypto {
  color: #707070;
  font-size: 14px;
}

ion-grid {
  margin: 20px 0;
  ion-col {
    max-width: 50%;
  }
  p {
    font-size: 12px;
    margin: 0;
  }
  .label {
    color: #707070;
    align-self: flex-end;
  }
  .content {
    color: #000000;
  }
}

.btn-div {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;

  ion-button {
    --background: linear-gradient(to bottom, #41a1c8, #074673);
    color: white;
    flex: 1;
  }
  .space {
    width: 15px;
  }
}
