<ion-content>
  <h4 class="ion-text-center">Confirm Transaction</h4>
  <h2 class="ion-text-center">
    <strong>$ {{ transactionData.amountAUD }} AUD</strong>
  </h2>
  <p class="amount-crypto ion-text-center">{{ transactionData.amount }} {{ walletType }}</p>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-end">
        <p class="label">Date</p>
      </ion-col>
      <ion-col>
        <p class="content">{{ date }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <p class="label">Invoice Number</p>
      </ion-col>
      <ion-col>
        <p class="content">{{ transactionData.transId }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <p class="label">Receiver</p>
      </ion-col>
      <ion-col>
        <p class="content">{{ transactionData.receiver }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <p class="label">Description</p>
      </ion-col>
      <ion-col>
        <p class="content">{{ transactionData.description ? transactionData.description : '' }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <p class="label">Fee</p>
      </ion-col>
      <ion-col>
        <p class="content">${{ transactionData.feeAud }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> </ion-col>
      <ion-col>
        <p>
          <ion-note>({{ transactionData.feeCrypto }} {{ walletType }}) </ion-note>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <section class="btn-div">
    <ion-button (click)="close()">Cancel</ion-button>
    <ion-button (click)="confirm()">Confirm</ion-button>
  </section>
</ion-content>
