<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios">
    <div class="header-top">
      <ion-buttons slot="start" class="start">
        <ion-back-button color="light" defaultHref="/tabnav/wallets" text=""></ion-back-button>
        <div class="wallet-img">
          <ion-img src="../../../assets/icon/BNB.png" alt="BNB" style="width: 20px;"></ion-img>
        </div>
        <div class="wallet-type">
          <ion-label>{{bnbWallet?.walletType}}</ion-label>
        </div>
      </ion-buttons>
      <div class="name-container">
        <div>
          <ion-label>{{bnbWallet?.walletName.length > 10 ? bnbWallet?.walletName.substr(0,9) + '...' :
            bnbWallet?.walletName}}</ion-label>
        </div>
      </div>
    </div>
    <div>
      <app-balance [wallet]="bnbWallet"></app-balance>
    </div>
  </ion-toolbar>

  <ion-segment mode="md" scrollable [(ngModel)]="segmentModel">
    <ion-segment-button value="transaction" layout="icon-start">
      <ion-icon name="list"></ion-icon>
      <ion-label>{{"transaction.transactions" | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="chart" layout="icon-start">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>{{"wallets.chart" | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div *ngIf="isLoading && !finalTrans" class="ion-text-center">
    <p>{{"wallets.fetching_transactions" | translate}}</p>
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div *ngIf="finalTrans && finalTrans.length >=1; else noTransaction">
    <app-chart *ngIf="segmentModel === 'chart'" [transactionsData]="finalTrans"></app-chart>

    <app-transaction-list [fiatSymbol]="fiatSymbol" [selectedWallet]="selectedWallet" [transactions]="finalTrans"
      *ngIf="segmentModel === 'transaction'"></app-transaction-list>

    <div *ngIf="isLoading" class="ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <ng-template #noTransaction>
    <p *ngIf="!isLoading" class="ion-text-center">{{"wallets.no_transactions" | translate}}</p>
  </ng-template>
</ion-content>