<ion-content>

  <ion-img src="assets/icon/check.png"></ion-img>
  <h3>Transaction completed!</h3>

  <div class="invoiceContainer">
    <h2><strong>$ 300.00 AUD</strong></h2>
    <p style="padding-bottom: 20px; color: #707070;">1.53679 XEM</p>
    <ion-item lines="none">
      <ion-label style="text-align: end;">
        <p>Date</p>
        <p>Invoice Number</p>
        <p>Receiver</p>
        <p>Description</p>
      </ion-label>
      <ion-label>
        <p>21/01/2021</p>
        <p>1234 567 890</p>
        <p>Einstein</p>
        <p>Bill</p>
      </ion-label>
    </ion-item>

    <section>
      <ion-button>SAVE INVOICE</ion-button>
      <ion-button>GENERATE A PDF</ion-button>
    </section>
  </div>

  <ion-button class="okButton" routerLink="/tabnav/wallets">OK</ion-button>

</ion-content>