<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="icon-only" (click)="closeModal()"> <ion-icon slot="end" name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title> Select Node</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Host</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Port</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button>
    <ion-icon name="add" slot="start" (click)="addNode()"></ion-icon>
    Add Custom Node</ion-button
  >
  <ion-item>
    <ion-label>Current Node</ion-label>
    <ion-select>
      <ion-select-option>62.75.171.41: 7890</ion-select-option>
      <ion-select-option>62.75.171.41: 7890</ion-select-option>
      <ion-select-option>62.75.171.41: 7890</ion-select-option>
      <ion-select-option>62.75.171.41: 7890</ion-select-option>
      <ion-select-option>62.75.171.41: 7890</ion-select-option>
      <ion-select-option>62.75.171.41: 7890</ion-select-option>
      <ion-select-option>62.75.171.41: 7890</ion-select-option>
      <ion-select-option>62.75.171.41: 7890</ion-select-option>
      <ion-select-option>62.75.171.41: 7890</ion-select-option>

      <!-- error occured when using ngFor????? -->
      <!-- <ion-select-option *ngFor="let node of nodeSelections">{{ node }}</ion-select-option> -->
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="confirmNode()">Confirm</ion-button>
</ion-content>
