<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="icon-only" (click)="closeModal()"> <ion-icon slot="end" name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title> Select Node</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Node select section -->
  <ion-list class="ion-margin">
    <ion-list-header>
      <ion-label> Node Selection </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Node</ion-label>
      <ion-select (ionChange)="onChange($event)" placeholder="Select One">
        <ion-select-option>62.75.171.41: 7890</ion-select-option>
        <ion-select-option>62.75.171.41: 7890</ion-select-option>
        <ion-select-option>62.75.171.41: 7890</ion-select-option>
        <ion-select-option>62.75.171.41: 7890</ion-select-option>
        <ion-select-option>62.75.171.41: 7890</ion-select-option>
        <ion-select-option>62.75.171.41: 7890</ion-select-option>
        <ion-select-option>62.75.171.41: 7890</ion-select-option>
        <ion-select-option>62.75.171.41: 7890</ion-select-option>
        <ion-select-option>62.75.171.41: 7890</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <!-- add custom node section: -->
  <ion-list class="ion-margin">
    <ion-list-header>
      <ion-label> Add Custom Node </ion-label>
      <ion-button fill="clear">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item>
      <ion-label>Host</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Port</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="confirmNode()">Confirm</ion-button>
</ion-content>
