.label {
  padding-left: 25px;
}

.chooseWallet {
  margin: 0 25px;
  box-shadow: 0px 3px 6px lightgray;
}

.amount {
  box-shadow: 0px 3px 6px lightgray;
}

ion-segment {
  --background: rgba(255,255,255,0);
}

ion-segment-button {
  --color-checked: white;
  --color: lightgrey;
  --margin-top: 10px;
  --margin-bottom: 10px;
}


