<ion-header>
  <ion-toolbar>
    <div class="add-title">
      <h1>Address Book</h1>
      <h2>
        Store different currencies under same name
      </h2>
    </div>

  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-toolbar class="search-bar ion-margin-top">
    <ion-searchbar slot="start" class="ion-no-padding" (ionChange)="onSearchAddress($event)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button class="add-btn" routerLink="/tabnav/address-book/add-contact">
        <!-- <ion-icon name="add-outline"></ion-icon> -->
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div *ngIf="isLoading" class="ion-text-center">
    <p>fetching contacts data</p>
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="!isLoading && (!addressesList || addressesList.length <= 0)">
    <p class="ion-text-center">No address found</p>
  </div>

  <ion-list class="list" lines="none" *ngIf="addressesList && addressesList.length > 0">
    <ion-virtual-scroll [items]="addressesList" approxItemHeight="70px">
      <ion-item-sliding *virtualItem="let address" #contactSlidingItem>
        <ion-item (click)="navToDetail(address.id)">
          <ion-avatar slot="start">
            <img src="assets/img/contact.png" />
          </ion-avatar>
          <ion-label>{{ address.fname }} {{ address.lname }}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="onDeleteContact(address.id, contactSlidingItem)">
            <ion-icon slot="icon-only" name="trash" size="small"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>
