<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar class="tool-bar-children">
      <div class="add-title">
        <h1>Address Book</h1>
        <h2>Store different currencies under same name</h2>
      </div>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="ion-margin-top" mode="ios">
    <ion-searchbar
      debounce="300"
      mode="ios"
      slot="start"
      class="ion-no-padding ion-margin-start ion-align-items-center"
      (ionChange)="onSearchAddress($event)"
    ></ion-searchbar>
    <ion-buttons
      slot="end"
      class="ion-no-margin ion-margin-end ion-padding-bottom"
    >
      <ion-button
        mode="ios"
        class="add-btn"
        routerLink="/tabnav/address-book/add-contact"
      >
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div *ngIf="isLoading" class="ion-text-center">
    <p>fetching contacts data</p>
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="!isLoading && (!contactList || contactList.length <= 0)">
    <p class="ion-text-center">No address found</p>
  </div>
  <div *ngIf="!isLoading">
    <ion-list
      class="list"
      lines="none"
      *ngIf="contactList && contactList.length > 0"
    >
      <ion-virtual-scroll [items]="contactList" approxItemHeight="70px">
        <ion-item-sliding *virtualItem="let contact" #contactSlidingItem>
          <ion-item (click)="navToDetail(contact.id)">
            <ion-avatar slot="start">
              <img src="{{contact?.image || 'assets/img/contact.png'}}" />
            </ion-avatar>
            <ion-label
              >{{ contact.firstName }} {{ contact.lastName }}</ion-label
            >
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option
              (click)="onDeleteContact(contact.id, contactSlidingItem)"
            >
              <ion-icon slot="icon-only" name="trash" size="small"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-virtual-scroll>
    </ion-list>
  </div>
</ion-content>
