<ion-header mode="ios">
  <ion-toolbar mode="ios" class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/tabnav/address-book"
          text=""
        ></ion-back-button>
      </ion-buttons>
      <ion-title>{{'add_address_book.new_contact' | translate}}</ion-title>
      <ion-buttons slot="end">
        <ion-icon name="qr-code-outline" (click)="onScan()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [class]="isAddAddress ? 'grey-bg': ''" #content>
  <div class="white-bg">
    <div class="wrap-avatar ion-justify-content-center ion-padding">
      <ion-button
        (click)="onSelectImage()"
        mode="md"
        class="add-avatar-button ion-align-self-center ion-no-padding"
      >
        <ion-img
          *ngIf="!imageUrl"
          class="camera-icon"
          src="assets/img/camera.png"
        ></ion-img>
        <ion-avatar *ngIf="imageUrl" class="avatar-view">
          <ion-img src="{{imageUrl}}"></ion-img>
        </ion-avatar>
      </ion-button>
    </div>

    <form [formGroup]="addContactForm">
      <h5 class="label">{{'add_address_book.first_name' | translate}}</h5>
      <ion-item lines="none">
        <ion-input formControlName="firstName"></ion-input>
      </ion-item>
      <h5 class="label">{{'add_address_book.last_name' | translate}}</h5>
      <ion-item lines="none">
        <ion-input formControlName="lastName"></ion-input>
      </ion-item>

      <h5 class="label">{{'add_address_book.company' | translate}}</h5>
      <ion-item lines="none">
        <ion-input formControlName="companyName"></ion-input>
      </ion-item>

<!--      <h5 class="label">{{'add_address_book.abn_number' | translate}}</h5>-->
<!--      <ion-item lines="none">-->
<!--        <ion-input formControlName="ABNNum"></ion-input>-->
<!--      </ion-item>-->

      <h5 class="label">{{'add_address_book.phone_number' | translate}}</h5>
      <ion-item lines="none">
        <ion-input formControlName="phone"></ion-input>
      </ion-item>

      <h5 class="label">{{'add_address_book.email' | translate}}</h5>
      <ion-item lines="none">
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <h5 class="label">{{'add_address_book.company_address' | translate}}</h5>
      <ion-item lines="none">
        <ion-textarea formControlName="companyAddress"></ion-textarea>
      </ion-item>
    </form>
  </div>

  <div [class]="isAddAddress ? 'addresses-div add-bg-border': 'addresses-div'">
    <div class="add-btn-div">
      <ion-button
        mode="ios"
        fill="clear"
        class="add-btn ion-text-center btn-gradient-bg-white"
        (click)="onOpenAddAddressModal()"
      >
        <ion-icon slot="start" name="add-outline"></ion-icon>
        <ion-label class="label-button">{{'add_address_book.add_an_wallet' | translate}}</ion-label>
      </ion-button>
    </div>

    <!-- show the added addresses div if isAddAddress = true -->
    <div *ngIf="isAddAddress">
      <div
        class="ion-padding-start ion-padding-end ion-padding-bottom"
        *ngFor="let wallet of contactWallets"
      >
        <ion-card class="ion-no-margin">
          <ion-item lines="none" class="border-bottom ion-margin-bottom">
            <ion-img [src]="walletIcon[wallet.type]"></ion-img>
            <ion-text class="wallet-type">{{ wallet.type}} </ion-text>
          </ion-item>

          <ion-text class="label-wallet ion-margin-start">
            {{'add_address_book.wallet_address' | translate}}
          </ion-text>
          <div class="space"></div>
          <ion-card-content
            class="ion-margin-start ion-margin-end ion-margin-bottom"
          >
            {{wallet.address}}
          </ion-card-content>

          <ion-label
            *ngIf="wallet.description"
            class="label-wallet ion-margin-start ion-margin-top"
          >
            {{'add_address_book.description' | translate}}
          </ion-label>
          <div class="space"></div>
          <ion-card-content
            *ngIf="wallet.description"
            class="ion-margin-start ion-margin-end ion-margin-bottom"
          >
            {{wallet.description}}
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button
    mode="ios"
    type="submit"
    expand="block"
    class="save-btn btn-gradient-bg"
    (click)="onSaveNewContact()"
    [disabled]="addContactForm.invalid"
    >{{'add_address_book.save' | translate}}</ion-button>
</ion-footer>
