<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <!-- <ion-tab-button tab="export"> -->
      <ion-tab-button>
        <ion-label>Export</ion-label>
        <ion-icon name="download"></ion-icon>
      </ion-tab-button>

      <ion-tab-button>
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <!-- <ion-tab-button tab="addressBook"> -->
      <ion-tab-button>
        <ion-label>Setting</ion-label>
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
