<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabnav/wallets" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Send</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only"> <ion-icon slot="end" name="scan"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label class="title padding-16">From</ion-label>
  </ion-list-header>

  <!--   ------------ the selected wallet info card   -->
  <ion-card>
    <ion-item lines="none" style="border-bottom: 1px solid #dfe7ed">
      <ion-avatar slot="start">
        <ion-img
          [src]="walletIcon[selectedWallet.walletType]"
        ></ion-img>
      </ion-avatar>
      <ion-label>
        <h5 class="wallet-name">{{ isTokenSelected ? selectedToken.name : selectedWallet.walletName }}</h5>

        <p class="wallet-address">{{ selectedWallet.walletAddress }}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label style="padding-left: 55px">
        <p class="wallet-balance">{{cryptoBanlance}} {{selectedWallet.walletType}}</p>
        <p class="wallet-balance">{{ audBanlance}} AUD</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <!--    ----------- the send transaction form:  -->
  <form [formGroup]="sendForm" (ngSubmit)="onSend()">
    <ion-list-header>
      <ion-label class="title">To</ion-label>
      <ion-button class="select-btn" (click)="showAddressList()">Add from address book</ion-button>
    </ion-list-header>

    <ion-item lines="none" class="input-shadow">
      <ion-input formControlName="receiverAddress" (ionChange)="onEnterAddress($event)"></ion-input>
    </ion-item>

    <ion-list-header style="padding-right: 10px">
      <ion-label class="title">Amount</ion-label>
      <ion-note class="amount">
        {{ selectedType === 'AUD' ? amountCrypto : amountAud}} {{ selectedType === 'AUD' ? selectedWallet.walletType :
        'AUD' }}
      </ion-note>
    </ion-list-header>

    <ion-item lines="none" class="input-shadow">
      <ion-input
        type="number"
        placeholder="00.00"
        formControlName="amount"
        (ionChange)="onEnterAmount($event)"
      ></ion-input>
      <ion-select
        formControlName="amountType"
        interface="popover"
        name="amountType"
        value="AUD"
        (ionChange)="onSelectType($event)"
      >
        <ion-select-option value="AUD"> AUD </ion-select-option>
        <ion-select-option [value]="selectedWallet.walletType"> {{ selectedWallet.walletType }} </ion-select-option>
      </ion-select>
    </ion-item>

    <!--  show the error message: if entered amount > balance -->
    <span *ngIf="!isAmountValid" class="ion-text-center error-message"> {{amountErr}} </span>

    <ion-list-header>
      <ion-label class="title">Description</ion-label>
    </ion-list-header>

    <ion-item lines="none" class="input-shadow">
      <ion-input formControlName="description"></ion-input>
    </ion-item>

    <!-- show the fee adjustment div only after user entered the amount & the entered amount is valid: -->
    <div class="fee-adjustment" *ngIf="isAmountValid && (amountCrypto || amountAud) ">
      <ion-list-header>
        <ion-label class="title">Fees</ion-label>
        <ion-button class="select-btn" (click)="onEditFee()">Edit transaction fee setting</ion-button>
      </ion-list-header>

      <!-- Warning section:  -->
      <div class="warning" *ngIf="isTooLow">
        <div class="icon">
          <ion-icon name="warning-outline"></ion-icon>
        </div>
        <strong>Lower fee will result in longer transaction time</strong>
      </div>
      <div class="warning" *ngIf="isTooHigh">
        <div class="icon">
          <ion-icon name="warning-outline"></ion-icon>
        </div>
        <strong>Fee is too high</strong>
      </div>

      <ion-range
        (ionChange)="onSelectFee($event)"
        [min]="this.minFeeAud"
        [max]="this.maxFeeAud"
        formControlName="fee"
        pin="true"
        [value]="suggestedFeeAud"
      >
      </ion-range>
      <ion-item lines="none" class="fee-note">
        <ion-label class="ion-text-start">
          <p>Low</p>
        </ion-label>
        <ion-label class="ion-text-center">
          <p>Medium</p>
          <p style="color: #074673">Suggested</p>
        </ion-label>
        <ion-label class="ion-text-end">
          <p>High</p>
        </ion-label>
      </ion-item>

      <div class="fee-value">
        <ion-text> Fee: $ {{selectedFeeAud ? selectedFeeAud :suggestedFeeAud}} AUD </ion-text>
        <ion-note> = {{selectedFeeCrypto}} {{selectedWallet.walletType}} </ion-note>
      </div>
    </div>

    <ion-button expand="block" [disabled]="sendForm.invalid" type="submit" class="send-btn btn-gradient-bg"
      >Send</ion-button
    >
  </form>
</ion-content>
