<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Import Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Import By Mnemonic </ion-list-header>
    <ion-item lines="none">
      <ion-textarea rows="6" cols="20" placeholder="Enter/Paste mnemonic here..."></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header> Import By Private Key </ion-list-header>

    <ion-item lines="none">
      <ion-label> Bitcoin Private Key </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h2>NEM Private Key</h2>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h2>Symbol Private Key</h2>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" routerLink="/tabnav/wallets"> Import</ion-button>
</ion-content>
