ion-header {
  ion-button {
    ion-label {
      color: #9f9f9f;
    }

    ion-icon {
      color: #9f9f9f;
    }
  }
}

.title {
  color: #074673;
  font-size: 18px;
  font-weight: bold;
  margin-right: auto;
}

.filterInfo-div {
  padding: 0;
  margin: 0 10px;
  ion-row {
    padding: 0;
    ion-col {
      padding: 0;
    }
  }

  ion-chip {
    --color: #707070;
    font-size: 13px;
    border: 1px solid #e6e7e8;
    --background: #f7f7f7;
    margin: 0 10px 0 0;
  }

  ion-button {
    --color: #41a1c8;
    font-size: 14px;
  }
}

.info {
  color: #707070;
  font-size: 14px;
}

.no-transaction {
  color: #074673;
}

.date {
  font-size: 13px;
  color: #9f9f9f;
}

.transaction-item {
  --border-width: 0 0 2px 0;
  --border-color: #f7f7f7;

  .receive-icon {
    color: #074673;
  }

  .send-icon {
    color: #41a1c8;
    transform: rotate(180deg);
  }

  // --- firs row: name & amount
  .name {
    font-size: 16px;
    color: #0000008a;
    padding-right: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .currency-amount {
    font-size: 16px;
    color: #000000;
  }

  // --- 2nd row: address & amount
  .address {
    font-size: 11px;
    color: #0000008a;
  }

  .crypto-amount {
    font-size: 11px;
    color: #000000;
  }
}
