<ion-header>
  <ion-toolbar>
    <!-- <ion-grid class="ion-no-padding">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="6">
          <ion-text class="title">Transactions</ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" (click)="close()">
            <ion-icon name="close" slot="end"> </ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="close" slot="icon-only"> </ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title">Transactions </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let transaction of transactions">
    <ion-item lines="none" class="transaction-item">
      <ion-icon *ngIf="transaction.incoming" name="paper-plane" class="send-icon" slot="start"></ion-icon>
      <ion-icon *ngIf="!transaction.incoming" name="paper-plane" class="receive-icon" slot="start"></ion-icon>

      <ion-label>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding ion-justify-content-between">
            <ion-col class="ion-no-padding name">
              <ion-text> {{ transaction.trader }}</ion-text>
            </ion-col>

            <ion-col class="currency-amount">
              <ion-note> {{ transaction.incoming ? '+' : '-' }} </ion-note>
              $ {{ transaction.amountAUD }}
            </ion-col>
          </ion-row>

          <ion-row class="ion-no-padding ion-justify-content-between">
            <ion-col>
              <ion-text class="address">{{ transaction.address.slice(-5) }}</ion-text>
            </ion-col>

            <ion-col class="crypto-amount">
              <ion-note> {{ transaction.incoming ? '+' : '-' }} </ion-note>
              <ion-text>{{ transaction.amount }} BTC</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
