<ion-content>
  <form [formGroup]="exportForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label> From: </ion-label>
            <ion-datetime max="2022-12-31" formControlName="dateFrom"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6">
          <ion-item>
            <ion-label> To: </ion-label>
            <ion-datetime max="2022-12-31" formControlName="dateTo"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label> Currency/Currencies: </ion-label>
            <ion-select multiple="true" formControlName="currenciesSelect">
              <ion-select-option value="btc">BTC</ion-select-option>
              <ion-select-option value="nem">NEM</ion-select-option>
              <ion-select-option value="symbol">Symbol</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label> Select a currency to pay: </ion-label>
            <ion-select formControlName="currencyPayment">
              <ion-select-option value="btc">BTC</ion-select-option>
              <ion-select-option value="nem">NEM</ion-select-option>
              <ion-select-option value="symbol">Symbol</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label> Description <ion-note>(Optional)</ion-note> </ion-label>
            <ion-textarea rows="3" formControlName="description"> </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button slot="icon-only" type="submit" expand="block"> Confirm </ion-button>
  </form>
</ion-content>
