<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar class="tool-bar-children">
      <ion-buttons>
        <ion-back-button
          text=""
          defaultHref="/tabnav/wallets"
        ></ion-back-button>
      </ion-buttons>
      <ion-title> Export History</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <p>Loading....</p>
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div *ngIf="!isLoading">
    <ion-list>
      <div *ngFor="let item of exportHistories;let i = index">
        <ion-card (click)="onCollapse(item)" class="ion-no-margin">
          <div
            [class]="item.isSelected ? 'card-selected wrap-row ion-padding' : 'card wrap-row ion-padding'"
          >
            <div class="wrap-row1">
              <div>
                <ion-label>{{item.time_export}}</ion-label>
              </div>
              <div>
                <ion-label class="label">
                  {{item.from}} - {{item.to}}
                </ion-label>
              </div>
            </div>
            <ion-item color="transparent" class="wrap" lines="none">
              <ion-thumbnail class="wallet-image ion-no-margin" slot="start">
                <img [src]="walletIcon[item.wallet_type]" />
              </ion-thumbnail>
              <ion-label class="wallet-label ion-no-margin"
                >{{walletName[item.wallet_type]}}</ion-label
              >
              <ion-icon
                class="wallet-icon ion-no-margin"
                slot="end"
                [name]="item.isSelected ? 'chevron-up-outline' : 'chevron-down-outline'"
              ></ion-icon>
            </ion-item>
          </div>
          <div class="separate"></div>
        </ion-card>

        <div *ngIf="item.isSelected" class="collapsed-wrap">
          <div *ngIf="item.isSelected">
            <div class="ion-no-margin ion-card-selected">
              <div class="card-selected-wrap ion-padding">
                <div class="card-selected-wrap-sub">
                  <ion-label class="label-wallet-name">
                    {{item.wallet}}
                  </ion-label>
                  <ion-label class="label-wallet-address"
                    >{{item.wallet_address}}</ion-label
                  >
                </div>
                <div class="card-selected-wrap-sub2">
                  <ion-button
                    mode="ios"
                    (click)="onCreate(item)"
                    class="btn-gradient-bg button"
                    type="submit"
                    expand="block"
                  >
                    Create
                  </ion-button>
                </div>
              </div>
              <div class="separate"></div>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
