<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="" defaultHref="/tabnav/wallets"></ion-back-button>
    </ion-buttons>
    <ion-title>Export History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <div *ngFor="let wallet of arrayHistory">
        <div *ngIf="!wallet.isSelect" class="container">

          <div class="detail-wallet">
            <div class="time">
              <div class="detail-time">
                {{wallet.time}}
              </div>
              <div class="date-time">
                {{wallet.date}}
              </div>
            </div>
            <div class="wallet">
              <div class="image-wallet">
                <div *ngIf="wallet.wallet_type =='Bitcoin'">
                  <img src="assets/img/Bitcoin_50px.png" />
                </div>
                <div *ngIf="wallet.wallet_type =='NEM'">
                  <img src="assets/img/nem-icon.png" />
                </div>
                <div *ngIf="wallet.wallet_type =='Etherum'">
                  <img src="assets/img/ethereum_50px.png" />
                </div>

              </div>
              <div class="wallet-type">
                {{wallet.wallet_type}}
              </div>
              <div *ngIf="!wallet.isSelect" class="select-wallet" (click)="onShowWallet(wallet.id)">
                <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
              <div *ngIf="wallet.isSelect" class="select-wallet" (click)="onHideWallet(wallet.id)">
                <ion-icon name="chevron-up-outline"></ion-icon>
              </div>
            </div>
          </div>

          <hr style="height:1px;border-width:0;color:gray;background-color:#CACED5; margin: 0;">

          <div  *ngIf="wallet.isSelect">
            <div class="create-wallet">
              <div class="show-wallet">
                <div *ngFor="let wallet_name of wallet.wallet">
                  <div class="wallet-name">
                    {{wallet_name.wallet}}
                  </div>
                  <div class="wallet-address">
                    {{wallet_name.address}}
                  </div>
                </div>
              </div>
              <div class="btn-create">
                <ion-button class="btn-gradient-bg" type="submit" expand="block">
                  Create
                </ion-button>
              </div>
            </div>
            <!-- <hr style="height:1px;border-width:0;color:gray;background-color:#CACED5; margin: 0;"> -->
          </div>
          
        </div>
        <div  *ngIf="wallet.isSelect" class="container" style="background-color: #F7F7F7">

          <div class="detail-wallet">
            <div class="time">
              <div class="detail-time">
                {{wallet.time}}
              </div>
              <div class="date-time">
                {{wallet.date}}
              </div>
            </div>
            <div class="wallet">
              <div class="image-wallet">
                <div *ngIf="wallet.wallet_type =='Bitcoin'">
                  <img src="assets/img/Bitcoin_50px.png" />
                </div>
                <div *ngIf="wallet.wallet_type =='NEM'">
                  <img src="assets/img/nem-icon.png" />
                </div>
                <div *ngIf="wallet.wallet_type =='Etherum'">
                  <img src="assets/img/ethereum_50px.png" />
                </div>

              </div>
              <div class="wallet-type">
                {{wallet.wallet_type}}
              </div>
              <div *ngIf="!wallet.isSelect" class="select-wallet" (click)="onShowWallet(wallet.id)">
                <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
              <div *ngIf="wallet.isSelect" class="select-wallet" (click)="onHideWallet(wallet.id)">
                <ion-icon name="chevron-up-outline"></ion-icon>
              </div>
            </div>
          </div>

          <hr style="height:1px;border-width:0;color:gray;background-color:#CACED5;margin: 0;">

          <div *ngIf="wallet.isSelect">
            <div class="create-wallet">
              <div class="show-wallet">
                <div *ngFor="let wallet_name of wallet.wallet">
                  <div class="wallet-name">
                    {{wallet_name.wallet}}
                  </div>
                  <div class="wallet-address">
                    {{wallet_name.address}}
                  </div>
                </div>
              </div>
              <div class="btn-create" (click)="onCreate()">
                <ion-button class="btn-gradient-bg" type="submit" expand="block">
                  Create
                </ion-button>
              </div>
            </div>
            <!-- <hr style="height:2px;border-width:0;color:gray;background-color:#CACED5;margin: 0;"> -->
          </div>

        </div>
      </div>
    </ion-list>
  </div>

</ion-content>