<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/tabnav/address-book/' + addresses.id" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-button>
        <ion-icon name="qr-code-outline" style="color: white"></ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div style="text-align: center; margin: 30px 0 20px">
    <img style="width: 60px" src="assets/img/contact.png" />
  </div> -->
  <form [formGroup]="editForm">
    <ion-item>
      <ion-label class="title" position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <!-- <h5>Name</h5>
    <ion-item lines="none">
      <ion-input formControlName="name"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label class="title" position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="title" position="floating">ABN</ion-label>
      <ion-input formControlName="ABNNum"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="title" position="floating">Company Name</ion-label>
      <ion-input formControlName="companyName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="title" position="floating">Company Address</ion-label>
      <ion-textarea formControlName="companyAddress"></ion-textarea>
    </ion-item>

    <!-- <ion-card formArrayName="walletsAddresses"> -->
    <div formArrayName="walletsAddresses">
      <ion-text>Wallets</ion-text>
      <!-- loop throught this contact's addresses -->
      <div *ngFor="let address of getAddressControls(); let i = index" [formGroupName]="i">
        <ion-item lines="none" class="border-bottom">
          <ion-img
            [src]=" address.value.type === 'BTC'? 'assets/img/bitcoin.png' : 'assets/img/nem-icon.png'"
          ></ion-img>
          <ion-text class="wallet-name">{{address.value.type === 'BTC' ? 'BTC' : 'EXM'}}</ion-text>
          <ion-input slot="end" formControlName="note"> </ion-input>
        </ion-item>

        <ion-item>
          <ion-input formControlName="address"></ion-input>
        </ion-item>
      </div>
    </div>

    <!-- <ion-card>
    <ion-item lines="none" class="border-bottom">
      <ion-img src="assets/img/nem-icon.png"></ion-img>
      <ion-text class="wallet-name">NEM</ion-text>
    </ion-item>

    <ion-card-content>
      <ion-input placeholder="Please enter"></ion-input>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item lines="none" class="border-bottom">
      <ion-img src="assets/img/ethereum.png"></ion-img>
      <ion-text class="wallet-name">Ethereum</ion-text>
    </ion-item>

    <ion-card-content>
      <ion-input placeholder="Please enter"></ion-input>
    </ion-card-content>
  </ion-card> -->

    <ion-button expand="block" class="saveBtn">Save</ion-button>
  </form>
</ion-content>
