<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar class="tool-bar-children">
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="'/tabnav/address-book/' + contactId" text=""></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button mode="ios" (click)="onSave()"> Save </ion-button>
      </ion-buttons>
      <ion-title>Edit Address</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="avatar-div">
      <ion-button (click)="selectAvatar()" mode="md" class="add-avatar-button ion-align-self-center ion-no-padding">
        <ion-avatar>
          <ion-img src="{{imageUrl || 'assets/img/contact.png'}}"></ion-img>
        </ion-avatar>
        <div class="place-holder"></div>
        <ion-label class="avatar-label" mode="ios">Edit Photo</ion-label>
      </ion-button>
    </div>

    <form [formGroup]="editForm" (ngSubmit)="onSave()">
      <div class="personal-info-div">
        <h5 class="title">First Name</h5>
        <ion-item lines="none">
          <ion-input formControlName="firstName"></ion-input>
        </ion-item>
        <h5 class="title">Last Name</h5>
        <ion-item lines="none">
          <ion-input formControlName="lastName"></ion-input>
        </ion-item>

        <h5 class="title">Company</h5>
        <ion-item lines="none">
          <ion-input formControlName="companyName"></ion-input>
        </ion-item>

        <h5 class="title">Email</h5>
        <ion-item lines="none">
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <h5 class="title">Phone Number</h5>
        <ion-item lines="none">
          <ion-input formControlName="phone"></ion-input>
        </ion-item>

        <h5 class="title">ABN</h5>
        <ion-item lines="none">
          <ion-input formControlName="ABNNumber"></ion-input>
        </ion-item>

        <h5 class="title">Company Address</h5>
        <ion-item lines="none">
          <ion-input formControlName="companyAddress"></ion-input>
        </ion-item>
      </div>

      <div class="addresses-info-div">
        <div *ngIf="contactWallets" class="addresses-info">
          <div *ngFor="let wallet of contactWallets; let i = index" class="address-info">
            <ion-item class="type-item" lines="none">
              <ion-img [src]="walletIcon[wallet.type]"></ion-img>
              <ion-text class="wallet-type">{{wallet.type}}</ion-text>
            </ion-item>

            <div class="info-edit-div address-edit">
              <h5 class="title">Wallet address</h5>
              <ion-item lines="none" class="info-input">
                <ion-input debounce="500" (ionChange)="walletAddressOnChanged($event, wallet)" [value]="wallet.address">
                </ion-input>
              </ion-item>
              <div class="space"></div>
              <h5 class="title description">Description</h5>
              <ion-item lines="none" class="info-input">
                <ion-input debounce="500" (ionChange)="walletDescriptionOnChanged($event, wallet)"
                  [value]="wallet.description"></ion-input>
              </ion-item>
            </div>
          </div>
        </div>

        <ion-button type="submit" expand="block" class="btn-gradient-bg">Save</ion-button>
      </div>
    </form>
  </div>

</ion-content>
