<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons slot="start">
        <ion-back-button
          [defaultHref]="'/tabnav/address-book/' + contactId"
          text=""
        ></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button mode="ios" (click)="onSave()"> {{'edit_address_book.save' | translate}} </ion-button>
      </ion-buttons>
      <ion-title>{{'edit_address_book.edit_address' | translate}}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="avatar-div">
      <ion-button
        (click)="selectAvatar()"
        mode="md"
        class="add-avatar-button ion-align-self-center ion-no-padding"
      >
        <ion-avatar>
          <ion-img src="{{imageUrl || 'assets/img/contact.png'}}"></ion-img>
        </ion-avatar>
        <div class="place-holder"></div>
        <ion-label class="avatar-label" mode="ios">{{'edit_address_book.edit_photo'}}</ion-label>
      </ion-button>
    </div>

    <form [formGroup]="editForm" (ngSubmit)="onSave()">
      <div class="personal-info-div">
        <h5 class="title">{{'edit_address_book.first_name' | translate}}</h5>
        <ion-item lines="none">
          <ion-input formControlName="firstName"></ion-input>
        </ion-item>
        <h5 class="title">{{'edit_address_book.last_name' | translate}}</h5>
        <ion-item lines="none">
          <ion-input formControlName="lastName"></ion-input>
        </ion-item>

        <h5 class="title">{{'edit_address_book.company' | translate}}</h5>
        <ion-item lines="none">
          <ion-input formControlName="companyName"></ion-input>
        </ion-item>

        <h5 class="title">{{'edit_address_book.email' | translate}}</h5>
        <ion-item lines="none">
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <h5 class="title">{{'edit_address_book.phone_number' | translate}}</h5>
        <ion-item lines="none">
          <ion-input formControlName="phone"></ion-input>
        </ion-item>

        <h5 class="title">{{'edit_address_book.abn_number' | translate}}</h5>
        <ion-item lines="none">
          <ion-input formControlName="ABNNumber"></ion-input>
        </ion-item>

        <h5 class="title">{{'add_address_book.company_address' | translate}}</h5>
        <ion-item lines="none">
          <ion-input formControlName="companyAddress"></ion-input>
        </ion-item>
      </div>

      <div class="addresses-info-div">
        <div *ngIf="contactWallets" class="addresses-info">
          <div
            *ngFor="let wallet of contactWallets; let i = index"
            class="address-info"
          >
            <ion-item class="type-item" lines="none">
              <ion-img [src]="walletIcon[wallet.type]"></ion-img>
              <ion-text class="wallet-type">{{wallet.type}}</ion-text>
            </ion-item>

            <div class="info-edit-div address-edit">
              <h5 class="title">{{'add_address_book.wallet_address' | translate}}</h5>
              <ion-item lines="none" class="info-input">
                <ion-input
                  debounce="500"
                  (ionChange)="walletAddressOnChanged($event, wallet)"
                  [value]="wallet.address"
                >
                </ion-input>
              </ion-item>
              <div class="space"></div>
              <h5 class="title description">{{'add_address_book.description' | translate}}</h5>
              <ion-item lines="none" class="info-input">
                <ion-input
                  debounce="500"
                  (ionChange)="walletDescriptionOnChanged($event, wallet)"
                  [value]="wallet.description"
                ></ion-input>
              </ion-item>
            </div>
          </div>
        </div>

        <ion-button type="submit" expand="block" class="btn-gradient-bg"
          >{{'add_address_book.save' | translate}}</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>
