.avatar-div {
  display: flex;
  justify-content: center;
  padding: 20px;
  .add-avatar-button {
    width: 100px;
    height: 100px;
    --border-radius: 50px;
    --background: #FFFFFF;

    ion-avatar {
      width: 100px;
      height: 100px;
      display: flex;
    }

    .place-holder {
      background-color: #00000061;
      width: 100px;
      height: 100px;
      position: absolute;
    }

    .avatar-label {
      position: absolute;
      text-transform: none;
      font-size: 12px;
    }
  }
}

.title {
  font-size: 14px;
  color: #074673;
  font-weight: bold;
}

.personal-info-div {
  padding: 0 20px 20px 20px;
  ion-item {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    font-size: 14px;
  }
}

.space {
  height: 15px;
}

.addresses-info-div {
  background: #f7f7f7;
  border-radius: 20px 20px 0 0;
  padding: 20px;

  ion-img {
    height: 25px;
    width: 25px;
    padding-right: 5px;
  }

  .addresses-info {
    .info-input {
      --background: #f7f7f7;
      --border-radius: 4px;
      font-size: 14px;
      --padding-start: 10px;
    }

    .address-info {
      box-shadow: 0px 3px 6px #00000029;
      background: #ffffff;

      .type-item {
        border-radius: 15px;
        --padding-start: 15px;

        .wallet-type {
          font-weight: bold;
          font-size: 14px;
        }
      }

      border-radius: 20px 20px 20px 20px;
      .address-edit {
        padding: 0 15px 15px 15px;
      }
      margin-bottom: 15px;
    }

    .description {
      margin-top: 5px;
    }
  }
}
