.top-save-btn {
  --color: #ffffff;
}

.avatar-div {
  display: flex;
  justify-content: center;
  padding: 20px;
  ion-avatar {
    width: 100px;
    height: 100px;
  }
}

.title {
  font-size: 14px;
  color: #074673;
  font-weight: bold;
}

// ---  both personal info & address info edit section's ino-item
.info-edit-div {
  ion-item {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    font-size: 14px;
  }
}

.personal-info-div {
  padding: 0 20px 20px 20px;
}

.addresses-info-div {
  background: #f7f7f7;

  border-radius: 20px 20px 0 0;
  padding: 20px;

  ion-img {
    height: 25px;
    width: 25px;
    padding-right: 5px;
  }

  .addresses-info {
    .address-info {
      background: #ffffff;

      .type-item {
        border-radius: 20px;
      }

      border-radius: 20px 20px 20px 20px;
      .address-edit {
        padding: 0 15px 15px 15px;
      }
      margin-bottom: 15px;
    }

    .description {
      margin-top: 5px;
    }
  }

  .save-btn {
    --background: linear-gradient(180deg, #41a1c8 0%, #074673 100%);
  }
}
