ion-header {
  // --background: linear-gradient(to right, rgba(65, 161, 200), rgb(7, 70, 115));
  ion-toolbar {
    padding-bottom: 45px;
    ion-icon {
      color: #2fff3d;
    }
    position: relative;
    .header-top {
      display: flex;
      margin-top: 45px;
      justify-content: center;
      padding: 0px 25px;
      width: 100%;
      position: relative;
      ion-buttons {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  ion-segment {
    width: 100%;
    position: absolute;
    height: 40px;
    margin: 0;
    border-radius: 0;
    --background: transparent;
    display: flex;
    bottom: 0;
    z-index: 10;
    ion-segment-button {
      color: #074673;
      --border-radius: 20px 20px 0 0;
      --background: #b4c9d8;
      margin: 0;
      --border-width: 1px;
      --border-color: #f7f7f7;
      --background-checked: #f7f7f7;
      --background-focused: #f7f7f7;
      flex: 1;
      ion-icon {
        --color: #074673;
        font-size: 18px;
      }
      ion-label {
        text-transform: none;
      }
    }
  }
}

.space {
  height: 15px;
}

ion-button {
  color: #0a0a0a;
  font-size: 13px;
  font-weight: bold;
}

// ---: the same as the toolbar's padding on the top
// ion-title {
//   padding-top: 20px;
// }
