ion-header {
  --background: linear-gradient(to right, rgba(65, 161, 200), rgb(7, 70, 115));
  ion-icon {
    color: #2fff3d;
  }
}

.space {
  height: 15px;
}

ion-button {
  color: #0a0a0a;
  font-size: 13px;
  font-weight: bold;
}

// ---: the same as the toolbar's padding on the top
// ion-title {
//   padding-top: 20px;
// }
