<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tabnav/wallets" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding-top" *ngIf="notifications && notifications.length >=1; else noNotification">
    <div *ngFor="let notification of notifications" class="notification-div">
      <ion-item lines="none">
        <ion-icon slot="start" [name]="notification.type === 'system' ? 'mail-outline' : 'document-text-outline'">
        </ion-icon>
        <ion-label>
          <h3>{{notification.title}}</h3>
          <p class="ion-text-wrap">{{notification.message}}</p>
          <ion-note>{{getDate( notification.date)}}</ion-note>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ng-template #noNotification>
    <p class="ion-text-center">No notifications.</p>
  </ng-template>
</ion-content>
