.notification-div {
  // ion-grid {
  //   padding: 0;
  // }

  .blue-div {
    width: 12px;
    background: #074673;
  }

  .message {
    margin-top: 0;
  }

  ion-card {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 3px 6px #00000029;
    margin: 10px 20px;
  }

  ion-note {
    color: #707070;
    font-size: 12px;
  }
}

.no-notification-div {
  p {
    font-size: 20px;
    color: #074673;
    font-weight: bold;
  }
}
.notification-info {
  .item--list {
    padding: 11px 9px;
    display: flex;
    align-self: start;
    .item--list__title {
      display: flex;
      justify-content: space-between;
    }
    ion-img {
      margin: 0px;
      align-self: start;
      .img {
        width: 21px;
        height: 15px;
      }
    }
  }
  ion-label {
    h2 {
      font-weight: bold;
    }
  }
}
