<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons slot="start">
        <ion-back-button
          color="light"
          defaultHref="/tabnav/wallets"
          text=""
        ></ion-back-button>
      </ion-buttons>
      <ion-title>{{'notification.notifications' | translate}}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="ion-padding-top"
    *ngIf="notifications && notifications.length >=1; else noNotification"
  >
    <div *ngFor="let notification of notifications" class="notification-div">
      <ion-card>
        <!-- <ion-grid> -->
        <!-- <ion-row> -->
        <div class="blue-div">
          <!--  this is a 12px blue width div  -->
        </div>

        <div class="notification-info">
          <!-- <ion-col class="notification-info"> -->
          <!-- <ion-item lines="none">
            <ion-icon slot="start" [name]="notification.type === 'system' ? 'mail-outline' : 'document-text-outline'">
            </ion-icon>
            <ion-label>
              <h3>{{notification.title}}</h3>
              <p class="ion-text-wrap">{{notification.message}}</p>
              <ion-note>{{getDate( notification.date)}}</ion-note>
            </ion-label>
          </ion-item> -->

          <div class="item--list" lines="none">
            <ion-img
              src="assets/img/transaction-notification.svg"
              slot="start"
            ></ion-img>
            <div>
              <div class="item--list__title">
                <ion-label>
                  <h2>{{notification.title}}</h2>
                </ion-label>
                <ion-note slot="end">{{getDate( notification.date)}}</ion-note>
              </div>
              <ion-label class="message">
                <p class="ion-text-wrap">{{notification.message}}</p>
              </ion-label>
            </div>
          </div>
          <!-- <ion-item lines="none">
            <ion-label class="message">
              <p class="ion-text-wrap">{{notification.message}}</p>
            </ion-label>
          </ion-item> -->

          <!-- </ion-col> -->
        </div>
        <!-- </ion-row> -->
        <!-- </ion-grid> -->
      </ion-card>
    </div>
  </div>

  <ng-template #noNotification>
    <div class="no-notification-div">
      <p class="ion-text-center">{{'notification.notification' | translate}}</p>
    </div>
  </ng-template>
</ion-content>
