ion-grid {
  padding: 0;
  ion-row {
    padding: 0;
  }
}

.from-date-col {
  padding: 1px 0.5px 0 0;
  .from-date-item {
    border-bottom-left-radius: 10px;
  }
}

.to-date-col {
  padding: 1px 0 0 0;
  .to-date-item {
    border-bottom-right-radius: 10px;
  }
}

ion-item {
  --color: #ffffff;
  --background: #41a1c8;
  height: 36px;

  ion-datetime {
    font-size: 13px;
    // padding: 1px 0 1px 0;
    --placeholder-color: #ffffff;
    height: 36px;
    --background: #41a1c8;
    ion-icon {
      font-size: 13px;
    }
  }
  box-shadow: 0px 6px 5px #0000001a;
}

.btns-div {
  justify-content: space-around;
  background: #41a1c8;
  // margin-bottom: 1px;
  padding: 2px 0 2px 0;

  ion-button {
    color: #ffffff;
    font-size: 13px;
    --background: #41a1c8;
  }
}
