<ion-card class="chart-div">
  <div>
    <canvas id="btcChart"></canvas>
  </div>

  <div class="operator-div">
    <!-- a list of buttons operators: change the text for a fixed width for the btns -->

    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col class="btns-div">
          <ion-button class="first-btn" fill="outline" size="small">Day</ion-button>
          <ion-button fill="outline" size="small">Week</ion-button>
          <ion-button fill="outline" size="small">Month</ion-button>
          <ion-button fill="outline" size="small">Year</ion-button>
          <ion-button class="last-btn" fill="outline" size="small">All</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-datetime class="from-date" displayFormat="DD MMMM YYYY" placeholder="Select From Date"></ion-datetime>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-datetime class="to-date" displayFormat="DD MMMMM YYYY" placeholder="Select To Date"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-button fill="clear" (click)="onHideChart()" class="hide-btn">Hide chart</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-card>
<!-- Confirm:

     1. the display format of the date
-->
