<div id="chartDiv">
  <canvas id="btcChart"></canvas>
</div>

<!-- a list of buttons operators: change the text for a fixed width for the btns -->
<ion-buttons class="btns-div">
  <ion-button fill="outline" size="small">1D</ion-button>
  <ion-button fill="outline" size="small">1W</ion-button>
  <ion-button fill="outline" size="small">1M</ion-button>
  <ion-button fill="outline" size="small">1Y</ion-button>
  <ion-button fill="outline" size="small">All</ion-button>
</ion-buttons>

<!-- datetime picker 1: -->
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-item lines="none">
        <ion-datetime dateFormat="MM/DD/YYYY" displayFormat="DD/MM/YYYY" placeholder="Start date"></ion-datetime>
        <ion-icon name="chevron-down-outline" slot="end" size="small"></ion-icon>
      </ion-item>
    </ion-col>

    <ion-col size="6">
      <ion-item lines="none">
        <ion-datetime dateFormat="MM/DD/YYYY" displayFormat="DD/MM/YYYY" placeholder="End date"></ion-datetime>
        <ion-icon name="chevron-down-outline" slot="end" size="small"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- Confirm:

     1. the display format of the date
-->
