ion-grid {
  padding: 0;

  ion-row {
    padding: 0;
  }
  ion-col {
    padding: 0;
  }
}

.from-date-item {
  border-bottom-left-radius: 19pt;
}
.to-date-item {
  border-bottom-right-radius: 19pt;
}
ion-item {
  --color: white;
  --background: rgb(65, 161, 200);
  height: 36px;

  ion-datetime {
    padding: 0;
    --placeholder-color: white;
    height: 30px;
    --background: rgb(65, 161, 200);
  }
}

.btns-div {
  justify-content: space-around;
  background: rgb(65, 161, 200);
  margin-bottom: 0;
  padding: 2px 0 2px 0;

  ion-button {
    color: whitesmoke;
    --background: rgb(65, 161, 200);
  }
}
