ion-header {
  ion-toolbar{
    --background: #f7f7f7;
  }

  ion-item {
    --background: #f7f7f7;
    --padding-bottom: 15px;
  }
}

ion-content {
  ion-item {
    border-bottom: 1px solid #DFE7ED;
  }
}

