<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="ion-no-margin close-text" fill="clear" (click)="closeModal()"> Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="assets/img/contact.png">
    </ion-avatar>
    <ion-label>
      <h3>Albert Einstein</h3>
      <p style="font-size: 12px;">Xero</p>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>

  <ion-list lines="none" *ngFor="let address of address" (click)="addressChoosed()">
    <ion-item>
      <ion-avatar slot="start">
        <ion-img *ngIf="address.walletType === 'BTC'" src="assets/img/bitcoin.png"></ion-img>
        <ion-img *ngIf="address.walletType === 'NEM'" src="assets/img/nem-icon.png"></ion-img>
        <ion-img *ngIf="address.walletType === 'ETH'" src="assets/img/symbol.png"></ion-img>
      </ion-avatar>

      <ion-label>
        <h3 *ngIf="address.walletType === 'BTC'">Bitcoin</h3>
        <h3 *ngIf="address.walletType === 'NEM'">NEM</h3>
        <h3 *ngIf="address.walletType === 'ETH'">Symbol</h3>

        <p style="font-size: 12px;">{{address.walletAddress}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>