<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="" defaultHref="/tabnav/wallets/add-wallet-new"></ion-back-button>
      <ion-title>Add New Wallet</ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="title-custom">
      Custom Name
    </div>
    <div class="input-custom">
      <ion-input  [(ngModel)]="credentials.username"></ion-input>
    </div>


    <div *ngIf="!showSelect">
      <div class="btn-large_1" (click)="selectCoin()">
        <div *ngIf="!showCoin">
          <div class="inline_1">Currency type</div>
          <div class="inline_2">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
        </div>
        <div *ngIf="showCoin">
          <div class="inline_1">{{coin}}</div>
          <div class="inline_2">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="showSelect">
      <div class="btn-large_1" (click)="selectCoin()">
        <div class="inline_1">Currency type</div>
        <div class="inline_2">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </div>

      <div class="select-coin">
        <div class="child-select-coin" (click)="chooseCoin('btc')">Bitcoin (BTC)</div>
        <div class="child-select-coin" (click)="chooseCoin('xem')">NEM (XEM)</div>
        <div class="child-select-coin" (click)="chooseCoin('eth')">Ethereum (ETH)</div>
      </div>
    </div>

    <div *ngIf="!showSelect">
      <div class="title-custom">
        Private Key
      </div>
      <div class="input-custom">
        <ion-input placeholder={{credentials.password}} [(ngModel)]="credentials.password" type="password"></ion-input>
      </div>
      <div *ngIf="error">
        <div class="error">{{messageError}}</div>
      </div>
      <div class="btn-large_2" >
        <div class="text-middle"  (click)="continue()">Continue</div>
      </div>
    </div>
   
  </div>
</ion-content>