<!-- <div class="transaction-div"> -->
<!-- <h4 class="ion-text-center">Transaction History</h4> -->
<ion-list>
  <div *ngFor="let transaction of transactions">
    <ion-text class="date"> {{ getDate(transaction.time) }}</ion-text>
    <ion-item>
      <ion-icon *ngIf="transaction.incoming" name="paper-plane" class="send-icon" slot="start"></ion-icon>
      <ion-icon *ngIf="!transaction.incoming" class="receive-icon" name="paper-plane" slot="start"></ion-icon>

      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <!-- TODO: 
                  1. click navigate to this contact's details page. 
                     chose trander propety because if there is a trader name that meands user stored this contact
                     otherwise, there is no name show on the page;
                  2. conditionaly show name
              -->
              <ion-note class="trader"> {{ transaction.trader }} &#x7c; {{ transaction.businessName }}</ion-note>
            </ion-col>
            <ion-col>
              <ion-note *ngIf="transaction.incoming"> + </ion-note>
              <ion-note *ngIf="!transaction.incoming"> - </ion-note>
              <!-- Q: conditionaly show the unit of diffrent currency -->
              $ {{ transaction.amountAUD }}
            </ion-col>
          </ion-row>

          <ion-row class="address-row">
            <ion-col>
              <ion-note>{{ transaction.address.slice(-5) }}</ion-note>
            </ion-col>

            <ion-col>
              <ion-note *ngIf="transaction.incoming"> + </ion-note>
              <ion-note *ngIf="!transaction.incoming"> - </ion-note>
              {{ transaction.amount }}
              <ion-note> BTC</ion-note>
            </ion-col>
          </ion-row>

          <!-- <ion-row>
            <ion-col>
              <ion-note *ngIf="transaction.incoming"> + </ion-note>
              <ion-note *ngIf="!transaction.incoming"> - </ion-note>
              {{ transaction.amount }}
              <ion-note> btc</ion-note>
            </ion-col>

            <ion-col>
              (
              <ion-note *ngIf="transaction.incoming"> + </ion-note>
              <ion-note *ngIf="!transaction.incoming"> - </ion-note>
              {{ transaction.amountAUD }} AUD)
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-text *ngIf="transaction.incoming" color="primary">From</ion-text>
              <ion-text *ngIf="!transaction.incoming" color="danger">To</ion-text>
            </ion-col>

            <ion-col>
              <ion-note> {{ transaction.trader }}</ion-note>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-note class="address">{{ transaction.address }}</ion-note>
            </ion-col>
          </ion-row> -->
        </ion-grid>
      </ion-label>
    </ion-item>
  </div>
</ion-list>
<!-- </div> -->
<!-- TODO: improve the performance of the scrolling when fetch data from db -->
