<ion-content>
  <h4 class="ion-text-center">Transaction History</h4>
  <ion-list>
    <ion-item *ngFor="let transaction of transactions">
      <ion-icon *ngIf="transaction.incoming" name="arrow-redo-circle" color="primary" slot="start"></ion-icon>

      <ion-icon *ngIf="!transaction.incoming" name="arrow-undo-circle" color="danger" slot="start"></ion-icon>

      <ion-label>
        {{ transaction.amount }}
        <ion-note> btc</ion-note>
        <h6 *ngIf="transaction.incoming"><ion-text color="primary">From</ion-text></h6>
        <h6 *ngIf="!transaction.incoming"><ion-text color="danger">To</ion-text></h6>
        <p>{{ transaction.address }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- TODO: improve the performance of the scrolling when fetch data from db -->
