<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar class="tool-bar-children">
      <ion-buttons>
        <ion-back-button text="" defaultHref="/tabnav/wallets/address-wallet"></ion-back-button>
        <ion-title>Add Consignatory</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="search">
    <!-- <ion-searchbar placeholder={{address}} slot="start">
    </ion-searchbar> -->
    <ion-searchbar placeholder={{address}} slot="start" class="ion-no-padding"></ion-searchbar>
  </div>
  <div class="btn-large_2">
    <div class="text-middle" (click)="send()">Send Request</div>
  </div>
</ion-content>
