// ion-searchbar{
//     border: 2px solid;
//     border-radius: 25px;
//     width: 90%;
//     margin-left: 15px;
//     margin-right: 15px;
// }

.search {
  height: 70px;
  width: 100%;
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #e6e7e8;
}

.ion-no-padding {
  --border-radius: 10px !important;
}

.notebook {
  height: 50px;
  margin-top: 30px;
}
.icon-container {
  margin-left: 15px;
  float: left;
  color: #41a1c8;
}
.text-message {
  margin-left: 15px;
  float: left;
  color: #074673;
  font-size: 17px;
}
ion-icon {
  font-size: 25px !important;
}

.btn-large_1 {
  background-color: #e6e7e8;
  height: 48px;
  margin-top: 70px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
}
.btn-large_2 {
  background-image: linear-gradient(180deg, #41a1c8 0%, #074673 100%);
  height: 48px;
  margin-top: 70px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
}

.text-middle_1 {
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
}
.text-middle_2 {
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
}
