<ion-header>
  <ion-toolbar class="tool-bar-parent">
    <app-background-header></app-background-header>
    <ion-toolbar mode="ios" class="tool-bar-children">
      <ion-buttons>
        <ion-back-button
          defaultHref="/tabnav/setting"
          text=""
        ></ion-back-button>
      </ion-buttons>
      <ion-title>{{"settings_transaction_fees.transaction_fees" | translate}}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="warning" lines="none">
    <ion-icon name="warning-outline"></ion-icon>
    <p><strong> {{"settings_transaction_fees.notification_message_1" | translate}}</strong></p>
  </ion-item>

  <ion-item class="warning" lines="none">
    <ion-icon name="warning-outline"></ion-icon>
    <p style="padding-right: 5px;"><strong>{{'settings_transaction_fees.notification_message_2' | translate}} </strong></p>
    <p style="color: lightgrey;"><strong> {{'settings_transaction_fees.notification_message_3' | translate}} </strong></p>
  </ion-item>

  <p style="padding: 20px 10px 0;">{{'settings_transaction_fees.minimun_fee' | translate}}</p>
  <ion-item class="fee" lines="none">
    <ion-label class="transaction-fee" position="fixed">$</ion-label>
    <ion-input
      type="number"
      [value]="minimumFee"
      (ionChange)="minimumChange($event)"
    ></ion-input>
  </ion-item>

  <p style="padding: 20px 10px 0;">{{"settings_transaction_fees.maximun_fee" | translate}}</p>
  <ion-item class="fee" lines="none">
    <ion-label class="transaction-fee" position="fixed">$</ion-label>
    <ion-input
      type="number"
      [value]="maximumFee"
      (ionChange)="maximumChange($event)"
    ></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button
    mode="ios"
    type="submit"
    expand="block"
    [class]="disabled ? 'btn-disable-bg ion-margin' : 'btn-gradient-bg ion-margin'"
    (click)="saveTransactionFeesConfig()"
    [disabled]="disabled"
    >Save</ion-button
  >
</ion-footer>
