.warning {
  border-radius: 8px;
  --background: #074673;
  margin: 10px;
  color: white;
}

p {
  font-size: 12px;
}

ion-icon {
  padding-right: 10px;
}

.fee {
  box-shadow: 0 3px 6px #00000029;
  border-radius: 8px;
  margin: 0px 10px;
  color:#9F9F9F;
}