.warning {
  border-radius: 8px;
  --background: #074673;
  margin: 10px;
  color: white;
}

p {
  font-size: 12px;
}

ion-icon {
  padding-right: 10px;
}

.fee {
  box-shadow: 0 3px 6px #00000029;
  border-radius: 8px;
  margin: 0px 10px;
  color:#9F9F9F;
}

.transaction-fee {
  font-weight: bold;
}

ion-input {
  font-weight: bold;
}

.btn-gradient-bg {
  --background: transparent linear-gradient(155deg, #074673 0%, #41a1c8 100%) 0%
  0% no-repeat padding-box;
  color: white;
}

.btn-disable-bg {
  --background: #E6E7E8;
  color: #757575;
}
